{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Conciertos en {{venue.name}} - Alcalá Suena 2020{% endblock%}

{% block bodyattrs %} class="{%if view %}{{view}}{%endif%} venue light-menu"{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2018">
        <meta name="twitter:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2020">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner2020.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{venue.name}} - Alcalá Suena: Fiesta de la Música 2018" />
        <meta property="og:description" content="Todos los conciertos en {{venue.name}} durante Alcalá Suena: Fiesta de la Música 2020" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner2020.jpg" %}{% endif %}" />
{% endblock %}


{% block content %}
<div class="jumbo-header" {% if venue.image %} style="background-image:url('{{venue.image.url}}')" {% endif %}>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{venue.name}}</h1>
        <p class="description">{{venue.description}}</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Cómo llegar <i class="fa right fa-external-link" aria-hidden="true"></i></a></p>-->
      </div>
    </div>
</div>
<div class="header-bar text-center">
    <h2>Conciertos</h2>
</div>

    {% include 'venue/venue_events.html' with events=events %}

{% endblock %}