{% extends "base.html" %}
{% load staticfiles %}
{% load create_embed %}
{% block title %}{{event}} en Alcala Suena 2021{% endblock%}
{% block bodyattrs %} class="{%if view %}{{view}}{%endif%} light-menu"{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{event}} - Alcalá Suena: Fiesta de la Música 2021">
        <meta name="twitter:description" content="{{ event.day|date:"l" }}, {{event.time}} - {{event.venue.name}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if event.image %}{{event.image.url}}{% else %}{% static "img/logo_banner2021.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{event}} - Alcalá Suena: Fiesta de la Música 2021" />
        <meta property="og:description" content="{{ event.day|date:"l" }}, {{event.time}} - {{event.venue.name}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if event.image %}{{event.image.url}}{% else %}{% static "img/logo_banner2021.jpg" %}{% endif %}" />
{% endblock %}

{% block extra_styles %}<style> .embed iframe{ width:100% !important; max-width:100%; margin-bottom:1em; } </style>{% endblock extra_styles %}

{% block content %}
<div class="jumbo-header jumbo-band">
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{event}}</h1>
        <p class="description">{{band.tag.name}}</p>
      </div>
    </div>
</div>
<div class="header-bar text-center header-band profile">
    <div class="container">{%if event.image %}<div class="profile-circle"> <img src="{{event.image.url}}"></div>{% endif %}
    <div class="row">
        <div class="col-sm-6">
         <span class="hour">{{event.time}}</span><span class="day">{{ event.day|date:"l j F" }}</span>
        </div>
        <div class="col-sm-6">
            <div class="band-venue" >
                    <img class="venue-image venue-icon" {% if event.venue.image %} style="background-image:url('{{event.venue.image.url}}')" {% endif %}>
                    <p>
                    {{event.venue.name}}<br>
                        <a class="btn btn-primary btn-lg" href="{% url 'venue_detail' pk=event.venue.pk %}" role="button">Ver escenario</a>
                    </p>
                </div>
        </div>
    </div>
        </div>
</div>

<div class="container">
    {% if event.tickets_url %}
    <div class="card main text-center" style="max-width:450px;margin:auto;margin-top:-3.8em;">
        Por normativa sanitaria, este año hay que cumplir medidas especiales de aforo y reservar las entradas previamente para
        cada concierto.<br><br>
        <a class="btn btn-primary btn-lg" href="{{event.tickets_url}}" target="_blank" role="button">Reservar entradas <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>
    {% endif %}

    <div class="row">
        {% if event.bands.count == 1 %}
            <div class="col-sm-12">{% include 'band/band_details.html' with band=event.bands.all.0 %}</div>
        {% else %}
        {% for band in event.bands.all %}
        <div class="col-sm-6">
             {% include 'band/band_details.html' with band=band %}
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-sm-6">
            {% if band.embed_media %} <div class="embed">{% create_embed band.embed_media %} </div> {% endif %}
            {%if band.profile_image %} <img src="{{band.profile_image.url}}" class="img-responsive band-profile-image">{% endif %}
        </div>

    </div>
</div>
{% endblock %}