<a class="card band-event" href="{{ event.get_detail_url }}" style="background-color:{{event.bands.all.0.tag.color}};{% if event.has_image %}margin-top:55px;{%endif%}">
    {% if event.has_image %}<div class="profile-circle" style="margin:auto;margin-top:-55px;width:75px;height:75px;"> <img src="{{event.profile_image.url}}"></div>{% endif %}
    <span class="hour">{{event.time}}</span>
    <span class="band">{{event}}</span>
    {% if show_venue %}
    <span class="venue">{{event.venue.name}}</span>
    {% endif %}
</a>