{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Horarios - Alcalá Suena 2020{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="Horarios - Alcalá Suena: Fiesta de la Música 2020">
        <meta name="twitter:description" content="Todos los conciertos durante Alcalá Suena: Fiesta de la Música 2020">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner2020_2.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Horarios - Alcalá Suena: Fiesta de la Música 2020" />
        <meta property="og:description" content="Todos los conciertos durante Alcalá Suena: Fiesta de la Música 2020" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if venue.image %}{{venue.image.url}}{% else %}{% static "img/logo_banner2020_2.jpg" %}{% endif %}" />
{% endblock %}

{% block bodyattrs %}class="venue"{% endblock%}

{% block content %}
<div class="jumbo-header">
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Horarios</h1>
      </div>
    </div>
</div>

    {% for venue in venues %}
        <div class="header-bar no-margin header-venue profile">
            <div class="container">
                <div class="profile-circle small hidden-xs"> {%if venue.image %}<img src="{{venue.image.url}}"> {%endif %}</div>
            <h4>{{venue}}</h4>
            </div>

        </div>
        {% include 'venue/venue_events.html' with events=venue.eventsbyday %}
    {% endfor%}
{% endblock %}

