{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{band.name}}{% endblock%}
{% block bodyattrs %}{%if view %} class="{{view}}"{%endif%}{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017">
        <meta name="twitter:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2017" />
        <meta property="og:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner.jpg" %}{% endif %}" />
        {% endblock %}

{% block content %}
<div class="jumbo-header jumbo-band" {% if band.band_image %} style="background-image:url('{{band.band_image.url}}')" {% endif %}>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>{{band.name}}</h1>
        <p class="description">{{band.tag.name}}</p>
      </div>
    </div>
</div>
<div class="header-bar text-center header-band">
    <div class="container">
    {% for event in events %}
        <div class="row">
            <div class="col-sm-6"><span class="hour">{{event.time}}</span><span class="day">{{ event.day|date:"l, d F" }}</span></div>
                <div class="col-sm-6"><div class="band-venue" >
                    <img class="venue-image venue-icon" {% if event.venue.image %} style="background-image:url('{{event.venue.image.url}}')" {% endif %}>
                    <p>
                    {{event.venue.name}}<br>
                        <a class="btn btn-primary btn-lg" href="{% url 'venue_detail' pk=event.venue.pk %}" role="button">Ver detalles del escenario</a>
                    </p>
                </div></div>
        </div>
            {% endfor %}
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">{%if band.profile_image %} <img src="{{band.profile_image.url}}" class="img-responsive band-profile-image">{% endif %}</div>
        <div class="col-sm-6">
            <p>{{band.description|linebreaks}}</p>
            {%if band.genre %}<h5><strong>Estilo:</strong> {{band.genre}}</h5>{% endif %}
            {%if band.city %}<h5><strong>Procedencia:</strong> {{band.city}}</h5>{% endif %}
            <div class="social-links">
                {%if band.facebook_link %} <a href="{{band.facebook_link}}" target="_blank" class="card"><i class="fa fa-facebook" aria-hidden="true"></i></a> {% endif %}
                {%if band.twitter_link %} <a href="{{band.twitter_link}}" target="_blank" class="card"><i class="fa fa-twitter" aria-hidden="true"></i></a> {% endif %}
                {%if band.bandcamp_link %} <a href="{{band.bandcamp_link}}" target="_blank" class="card"><i class="fa fa-bandcamp" aria-hidden="true"></i></a> {% endif %}
                {%if band.youtube_link %} <a href="{{band.youtube_link}}" target="_blank" class="card"><i class="fa fa-youtube" aria-hidden="true"></i></a> {% endif %}
                {%if band.presskit_link %} <a href="{{band.presskit_link}}" target="_blank" class="card"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}