{% extends "base.html" %}

{% block title %}{{band.name}}{% endblock%}

{% block home_header %}
<header class="band_header" {% if band.band_image %}style="background-image: url('{{ band.band_image.url }}');"{% endif %}>
    <div class="row">
        <div class="col-sm-3">
            {% if band.profile_image %}
            <img src="{{ band.profile_image.url }}" alt="{{band.name}}">
            {% endif %}
        </div>
        <div class="col-sm-6 text-center">
            <h1>{{band.name}}</h1>
            <h4>{{band.tag}}</h4>
        </div>
        <div class="col-sm-3"></div>
    </div>
</header>

<section class="banda_negra">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
                <!-- <a href="#" class="btn btn-default btn-descripcion">Descripción</a> -->
            </div>
            <div class="col-sm-8 text-center">
            {% for event in events %}
                <h2><a href="{% url 'venue_detail' pk=event.venue.pk %}">{{event.venue.name}}</a> - {{event.day}} {{event.time}}</h2>
            {% endfor %}
            </div>
            <div class="col-sm-2 text-center">
                <a href="http://www.facebook.com" class="rrss"><span class="fa fa-facebook"></span></a>
                <a href="http://www.twitter.com" class="rrss"><span class="fa fa-twitter"></span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if band.embed_code %}
            {{ band.profile_image.url }}
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ band.description }}
        </div>
    </div>
</div>

{% endblock %}