{% extends "base.html" %}

{% block title %}{{band.name}}{% endblock%}


{% block content %}
<div class="jumbo-header jumbo-band" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>BANDAS</h1>
        <p class="description">Un festival participativo con más de 140 grupos actuando en calles y plazas del casco histórico</p>
      </div>
    </div>
</div>
<div class="header-bar text-center header-band">

</div>

<div class="container">

        <table class="table table-striped">
        <thead>
            <th>Banda</th>
            <th>Origen</th>
            <th>Género</th>
        </tr></thead>
        <tbody>
            {% for band in bands %}
            <tr>
                <td><a href="{% url 'band_detail' pk=band.pk%}" class="banda">{{band.name}} </a></td>
                <td>{{band.city}}</td>
                <td><span class="{{ event.band.tag }}">{{band.tag.name}}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>


</div>
{% endblock %}