{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2022 | Exportar datos{% endblock%}

{% block content %}
<div class="jumbo-header" style="background-image:url('{% static "img/band-header2022.jpg" %}')" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Exportar datos</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center no-margin">
</div>

<div class="container main card">

    <div class="panel no-margin" {% if ajax_url %} data-ajax-url="{{ajax_url}}" {% endif %}>
    <table class="table mb-no">
    <tbody>

    <tr>
        <td> <a href="{% url 'csv_bands' %}"> Bandas definitivas </a>
        </td>
      </tr>

    <tr>
        <td> <a href="{% url 'contest_csv_votes' %}"> Resultados de votación del jurado </a>
        </td>
      </tr>

    <tr>
        <td> <a href="{% url 'contest_csv_bands' %}"> Bandas participantes del concurso (con email)</a>
        </td>
      </tr>

      <tr>
        <td> <a href="{% url 'contest_receiver_info' %}"> Información de los receptores de premio </a>
        </td>
      </tr>

    <tr>
        <td> <a href="{% url 'contest_riders_info' %}"> Listado de riders de bandas </a>
        </td>
      </tr>

    </tbody>
  </table>
</div>

</div>
{% endblock %}

