{% extends "base.html" %}
{% load staticfiles %}
{% load create_embed %}
{% block title %}{{band.name}} en Alcala Suena 2021{% endblock%}
{% block bodyattrs %} class="{%if view %}{{view}}{%endif%} light-menu"{% endblock%}

{% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2021">
        <meta name="twitter:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner2021.jpg" %}{% endif %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{band.name}} - Alcalá Suena: Fiesta de la Música 2021" />
        <meta property="og:description" content="{{ events.first.day|date:"l d F" }}, {{events.first.time}} - {{events.first.venue.name}}" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{%if band.profile_image %}{{band.profile_image.url}}{% else %}{% static "img/logo_banner2021.jpg" %}{% endif %}" />
{% endblock %}

{% block extra_styles %}<style> .embed iframe{ width:100% !important; max-width:100%; margin-bottom:1em; } </style>{% endblock extra_styles %}

{% block content %}
<div class="jumbo-header jumbo-band" {% if band.band_image %} style="background-image:url('{{band.band_image.url}}')" {% endif %}>
    <div class="jumbotron">
      <div class="container text-center">

      </div>
    </div>
</div>
<div class="header-bar header-band profile">
    <div class="container">
        {%if band.profile_image %}<div class="profile-circle"> <img src="{{band.profile_image.url}}"></div>{% endif %}

        <div class="row">
            <div class="col-md-12">
                <h1>{{band.name}}</h1>
                <p class="description">{{band.tag.name}}</p>
            </div>
        </div>

        {% if request.user.is_staff %} {% include 'contest/jury_vote.html' with band=band %} {% endif %}
    </div>

</div>


<div class="container {% if events or can_edit %} top-padding {%endif%}">

    <div class="row">
        <div class="col-md-7">
            {% if band.embed_media %} <div class="embed">{% create_embed band.embed_media %} </div> {% endif %}
            <p>{{band.description|linebreaks}}</p>
            {%if band.genre %}<h5><strong>Estilo:</strong> {{band.genre}}</h5>{% endif %}
            {%if band.city %}<h5><strong>Procedencia:</strong> {{band.city}}</h5>{% endif %}
            {% include 'common/social_links.html' with obj=band %}

            {% if perms.contest.can_mange_jury %}

                <h3>Miembros</h3>
             <div class="panel" style="margin:auto;">

                <div class="panel-body">
                {% for member in band.Miembros.all %}
                    <strong>Nombre:</strong> {{member.full_name}}<br>
                        <strong>DNI:</strong> {{member.dni}}<br>
                        {%if member.is_underage %}
                        <i class="fa fa-child" aria-hidden="true"></i> Menor de edad
                        {% else %}
                        <i class="fa fa-male" aria-hidden="true"></i> Mayor de edad
                        {% endif %}
                    <hr>
                {% endfor %}
                </div>
             </div>
            {% endif %}
        </div>
        <div class="col-md-5">
            {% if band.embed_code %} <div class="embed">{% create_embed band.embed_code %} </div>{% endif %}

            {% if perms.contest.can_mange_jury %}
                <h3>Contacto</h3>
                {{band.contact_email}}<br>
                {{band.contact_phone1}}<br>
                {{band.contact_phone2}}


                {% if band.rider_doc %}
                    <h3>Rider técnico</h3>

                <a href="{{band.rider_doc.url}}" target="_blank" class="btn btn-primary red btn-lg"><span><i class="fa fa-download" aria-hidden="true"></i>  Descargar archivo</span></a>
                {% endif %}
                <h3>Concurso</h3>
                <strong>Nombre interesado</strong><br>
                {{band.receiver_fullname}}<br><br>
                <strong>Documento identidad interesado</strong><br>
                {{band.receiver_cif}}<br>
                <br>
                {% if band.has_local_member %}
                    <i class="fa fa-2x fa-check-square-o" aria-hidden="true"></i>  <span class="">Algún miembro es de Alcalá.</span><br>
                    {% if band.local_member_docs %}
                        <a href="{{band.local_member_docs.url}}" target="_blank" class="btn btn-primary red btn-lg"><span><i class="fa fa-download" aria-hidden="true"></i>  Descargar prueba</span></a>
                    {% else %}
                        No ha incluido documento de prueba.
                    {% endif %}
               {% else %}
                    <i class="fa fa-2x fa-square-o" aria-hidden="true"></i> <span class=""> Ningún miembro es de Alcalá. </span>
                {% endif %}

            {% endif %}
        </div>

        {% if perms.contest.can_mange_jury %}

        <div class="col-md-12">
            <h3 class="text-center">Votaciones jurado</h3>
        </div>
        <div class="col-md-7">
            <div class="panel" style="margin:auto;">

        <div class="panel-body">

            <form method="post" enctype="multipart/form-data" class="edit-form">
        {% csrf_token %}

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" >{{criteria_form.criteria1}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria1.label}}</strong>
            </div>
        </div></div>


        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"  data-showchange="#criteria2-extra">{{criteria_form.criteria2}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria2.label}}</strong>
                <div id="criteria2-extra" >
                {% include "common/forms/field.html" with field=criteria_form.criteria2_extra label_light=True %}
                    </div>
            </div>
        </div></div>

        {% include "common/forms/field.html" with field=criteria_form.criteria3 %}


        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" data-showchange="#criteria4-extra">{{criteria_form.criteria4}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria4.label}}</strong>
                <div id="criteria4-extra">
                {% include "common/forms/field.html" with field=criteria_form.criteria4_extra label_light=True %}
                    </div>
            </div>
        </div></div>

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" data-showchange="#criteria5-extra" >{{criteria_form.criteria5}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria5.label}}</strong>
                <div id="criteria5-extra" >
                Asegúrate de haber rellenado el enlace de Presskit ( <i class="fa fa-newspaper-o " aria-hidden="true"></i> ) dentro del apartado de "Redes sociales"
                    </div>
            </div>
        </div></div>

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" data-showchange="#criteria6-extra">{{criteria_form.criteria6}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria6.label}}</strong>
                <div id="criteria6-extra" >
                {% include "common/forms/field.html" with field=criteria_form.criteria6_extra label_light=True %}
                    </div>
            </div>
        </div></div>

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" data-showchange="#criteria7-extra">{{criteria_form.criteria7}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria7.label}}</strong>
                <div id="criteria7-extra">
                Asegúrate de haber rellenado los enlaces del apartado de "Redes sociales" para poder comprobarlo.
                    </div>
            </div>
        </div></div>

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" >{{criteria_form.criteria8}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria8.label}}</strong>
            </div>
        </div></div>

        <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" >{{criteria_form.criteria9}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.criteria9.label}}</strong>
            </div>
        </div></div>

    <div class="row">
        <div class="col-sm-6 col-md-7">
            <div class="form-group">
            <div class="input-group">
          <span class="input-group-addon" >{{criteria_form.is_validated}}
              </span>
            <div class="input-group-text"><strong>{{criteria_form.is_validated.label}}</strong>
                {% if band.is_validated and band.validated_by %}
                <div>Validado por: {{band.validated_by}}</div>
                {% endif %}
            </div>
        </div></div>
        </div>

        <div class="col-sm-6 col-md-5">
            <input type="submit" class="btn btn-primary btn-lg" value="Actualizar">
        </div>
    </div>



            </form>
    </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="panel" style="max-width:500px;margin:auto;">
                <div class="jury_points">
                    <strong>Criterios objetivos</strong>
                    <span>{{band.criteria_points}}</span>
                    /50
                    <br>
                    <strong>Puntuación jurado</strong>
                    <span>{{band.jury_points}}</span>
                    /50
                    <hr>
                    <strong>Puntuación total</strong>
                    <span>{{band.total_points}}</span>
                    /100
                </div>


                <table class="table mb-no">
                    <thead>
                      <tr>
                        <th scope="col">Jurado</th>
                          <th scope="col" >Fecha</th>
                        <th scope="col" >Voto</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for vote in jury_votes %}
                        <tr>
                            <td>{{vote.voted_by}}</td>
                            <td>{{vote.timestamp|date:'d/m/Y H:i'}}</td>
                            <td><span class="lead"> {{vote.vote}}</span></td>

                        </tr>
                        {% empty %}
                            <tr><td colspan="2">No hay ningún voto todavía...</td> </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $('.btn-add-vote').on('click', function(){
        var vote = $(this).parents('.public-vote');
        var actionUrl = $(this).attr('data-vote');
        console.log(actionUrl);
        $.post(actionUrl, {action:'add'}, function(data){
            vote
                .find('.pending-vote-band').hide().end()
                .find('.voted-band').show().end()
                .find('.fa span').text(data['band_votes']).end()
        }).fail(function(xhr, status, error){
            if (xhr.status == 403){
                vote.find('.alert-warning').show();
            }
        });
    });
</script>

{% endblock %}