{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2017 - La app{% endblock%}

{% block content %}
<div class="jumbo-header" style="background-image:url('{% static "img/venues-header.jpg" %}')" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Bases del Concurso</h1>
        <p class="description">Bases Oficiales AlcaláSuena 2018</p>
      </div>
    </div>
</div>
<div class="header-bar text-center">
</div>

<div class="container main card">
    <p>

    </p>
    <h3>1.</h3>

</div>
{% endblock %}