{% extends "base.html" %}
{% load static %}
{% block title %}Alcalá Suena 2024 | Bases del Concurso{% endblock%}

{% block content %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Bases del Concurso</h1>
        <p class="description">Bases Oficiales "Alcalá Suena 2024"</p>
      </div>
    </div>
</div>
<div class="header-bar text-center">
</div>

<div class="container main card contest-conditions ">
    <p>
        Se presentan las siguientes <strong>bases</strong> al objeto de promover e incentivar la música del tejido de agrupaciones musicales y músicos de Alcalá de Henares con motivo de la celebración de la Fiesta de la Música “ALCALÁ SUENA 2024”, en favor de una manifestación cultural en general y de la música en directo en particular.
        <br>
        La participación en el concurso supone la aceptación de las presentes bases.
    </p>
    <hr>
    <h3>Participantes</h3>
    <ol>
<li><span>Podrán participar en el concurso los solistas o las formaciones musicales que formalicen su inscripción a través del formulario on-line de la página web www.alcalasuena.es</span></li>
<li><span>No entrarán en el proceso de valoración las inscripciones que no aporten toda la información solicitada.</span></li>
<li><span>Deberán tener un repertorio totalmente dispuesto y suficiente para ser interpretado en directo no superior a 40 minutos. </span></li>
<li><span>Pueden presentarse propuestas de cualquier estilo musical o tipo de formación, formación, si bien, en caso de resultar ganadora, la formación que actúe en la programación del festival debe ser la misma que la presentada, en igual número de componentes y características, salvo causas de fuerza mayor debidamente justificadas.</span></li>
<li><span>Las propuestas podrán ser presentadas por personas físicas o jurídicas, indicando en el formulario de inscripción el nombre y DNI, NIF o CIF del interesado. La persona que figure como "interesado" será la persona receptora del premio, recibiendo el importe correspondiente en el número de cuenta del que sea titular, en caso de resultar premiada esa propuesta (salvo en el caso de los menores de edad, que será su representante legal).</span></li>
<li><span>Los artistas presentados garantizan que poseen los derechos de interpretación y autoría y permiten reproducir sus propuestas a través de la página web del evento, asumiendo su propia responsabilidad y eximiendo a la organización de este concurso cualquier responsabilidad o reclamación de terceros. Los grupos que tengan registradas sus canciones en alguna entidad que defienda sus derechos de propiedad intelectual deberán comunicarlo a la organización.</span></li>
<li><span>Los artistas menores de edad deberán presentar documento firmado por su padre, madre o tutor/a legal  expresando la autorización para su participación en el concurso según las condiciones de sus bases y autorizando la reproducción de su imagen.</span></li>
<li><span>Los participantes, se comprometen a realizar una actuación en el marco del evento “ALCALÁ SUENA 2024” en el caso de resultar premiados, según las prescripciones y condiciones de la organización, cuya celebración está prevista para los días 7, 8 y 9 de junio del presente año.</span></li>
<li><span>Ningún componente de los grupos que se presenten podrá estar integrado en más de dos formaciones premiadas en el certamen.</span></li>
<li><span>Los artistas presentados al concurso aceptan estas bases y se comprometen a presentar, en caso de ser premiados, toda la documentación necesaria que acredite la veracidad y el cumplimiento de los requisitos del concurso. En caso contrario, no se concederá premio alguno. </span></li>
<li><span>Cada artista o grupo presentado tendrá un espacio propio en la Web del evento para ser visitado. </span></li>
<li><span>No se tendrán en consideración las propuestas que contravengan lo establecido Ley 17/1997 de Espectáculos Públicos y Actividades Recreativas de la Comunidad de Madrid, en especial a lo establecido en su artículo 5, y en la normativa aplicable. Tampoco aquellas que utilicen un lenguaje ofensivo o lesivo para la sensibilidad del público, en las que se exhiban pancartas o símbolos que inciten a la violencia, el racismo, la xenofobia, la homofobia y la violencia machista.</span></li>
<li><span>Estas bases se publicarán en la página web del Ayuntamiento y en la Base de Datos Nacional de Subvenciones.</span></li>


    </ol>
<hr>
    <h3>INSCRIPCIÓN</h3>
    <ol>
<li><span>Cada artista o grupo deberá inscribirse on line en www.alcalasuena.es</span></li>
<li><span>Deberá rellenar el formulario de inscripción y toda la información solicitada en dicha página, detallando en el apartado de "interesado" el nombre, DNI, NIF o CIF de la entidad, artista o componente de la agrupación que será la receptora única del premio en caso de resultar premiado.</span></li>
<li><span>Cada artista o grupo deberá presentar al menos un vídeo y una grabación de su proyecto musical, valorando especialmente que sea de una actuación en vivo. Además deberá incluir la URL de Youtube o Vimeo, enlace a Bandcamp, SoundCloud correspondientes al trabajo presentado para su valoración por parte del jurado. <strong>Se valorará especialmente las grabaciones en vivo del grupo o solista con música en directo</strong>, pero puede ser un video con una o varias imágenes estáticas o fotos del grupo. El/los vídeos y grabaciones quedarán insertados en el perfil del grupo o solista de la página web del concurso. Sólo son válidos vídeos alojados en las plataformas Youtube o Vimeo, y grabaciones alojadas en Bandcamp, SoundCloud o Spotify.</span></li>
<li><span>Cada artista o grupo deberá definirse dentro de una única categoría en el momento de la inscripción. Sólo se admitirá una inscripción por artista o grupo.</span></li>
<li><span>En la inscripción, entre otros datos, se deberá incluir el nombre y DNI de los componentes de la agrupación musical, así como un mínimo de dos teléfonos de contacto.</span></li>
<li><span>La organización no se hace responsable  respecto a plagios, derechos de autor de las letras y músicas de los temas presentados, así como cualquier otra trasgresión de la Ley.</span></li>
<li><span>Las inscripciones podrán realizarse a partir del día siguiente la publicación de las presentes bases en la Base Nacional de Subvenciones y hasta las 20h del 23 de febrero de 2024.</span></li>
<li><span>Los datos personales que presenten los participantes a través de la presente convocatoria serán utilizados para la selección de premiados y comunicados de difusión. <br>Los participantes podrán en cualquier momento ejercer sus derechos de Acceso, Rectificación, Cancelación y Oposición mediante escrito dirigido a Calle Santa María la Rica, nº3 –28801 Alcalá de Henares. Todo ello en cumplimiento del artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</span></li>
    </ol>

<hr>
    <h3>Fases</h3>

<ol>
    <li><span>Para el presente concurso se determinan las siguientes fases: </span></li>
</ol>

    <h4>Fase de inscripción</h4>
Una vez realizada y validada la inscripción, la propuesta podrá ser escuchada libremente a través de www.alcalasuena.es
<h4>Fase de valoración del jurado y fallo</h4>
Una vez finalizada la fase de inscripción, tras la escucha de las propuestas presentadas,
el jurado realizará el proceso votación entre todos los participantes inscritos
correctamente y finalizado este proceso formalizará el acta correspondiente con el fallo
de los premios.
    <h4>Actuación</h4>
    Los artistas premiados por el jurado actuarán en el marco del evento “ALCALÁ SUENA 2024” según las prescripciones y condiciones de la organización, cuya celebración está prevista para los días 7, 8 y 9 de junio de 2024. Para la actuación de los premiados la Concejalía de Cultura determinará el día, hora y escenario, incluso opciones no presenciales para dicha actuación que se anunciará oportunamente, todo ello en función de alguna posible situación excepcional que pudiera afectar a la realización del evento.

    <h4>Premios</h4>

    los premiados, posteriormente a la realización del evento, deberán presentar
por cualquier Oficina de Registro de manera presencial o bien a través de la sede
electrónica de la web municipal www.ayto-alcaladehenares.es descargando el impreso
“Modelo 040” (En el Anexo 1 de estas bases o bien descargable en la página web del
Ayuntamiento de Alcalá de Henares: www.ayto-alcaladehenares.es ir a “Áreas
temáticas” -“Hacienda”- sección “Tesorería” y desde ahí pinchar en el enlace de Ficha de
Terceros o Modelo 040. También se puede solicitar en las dependencias del
Ayuntamiento, Plaza de Cervantes nº12). El impreso Modelo 040 deberá ir debidamente
cumplimentado y sellado por el banco que corresponda. A falta de sello bancario, se
puede acompañar el mencionado impreso por certificado de titularidad de cuenta
bancaria de quien figura como “interesado” en la inscripción de ALCALÁ SUENA 2024.<br>
<strong>El importe del premio lo recibirá el titular que figure en el apartado “(1) Datos del
    interesado”</strong> de este impreso “Modelo 040” y que debe coincidir con quien conste como
“interesado” en la inscripción del concurso ALCALÁ SUENA 2024 o el representante legal
    en caso de menores de edad. <strong>El plazo para presentar esta documentación será a partir
    de la comunicación del premio por parte de la organización hasta el 24 de junio</strong> de
2024. De no recibirse esta documentación en el citado plazo, se entenderá que se
renuncia al premio económico obtenido.

<hr>

<h3>PREMIOS</h3>
    <ol>
       <li><span>Se establecen los siguientes premios:<br>
           <strong> PRIMER PREMIO "ALCALÁ SUENA 2024"</strong> 1.500,00 €<br>
            <strong>SEGUNDO PREMIO "ALCALÁ SUENA 2024" </strong> 1.000,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>JAZZ/ACÚSTICO/CLÁSICA/LÍRICA</strong> 500,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>FUSIÓN/WORLDMUSIC</strong> 500,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>INDIE/POP</strong> 500,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>ROCK/METAL</strong> 500,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>SOUL/FUNK/RYTHM & BLUES</strong> 500,00 €<br>
            PREMIO ESPECIAL CATEGORÍA <strong>INFANTIL/FAMILIAR</strong> 500,00 €<br>
            <strong>PREMIO ESPECIAL ABIERTO</strong> (cualquier categoría) 500,00 €<br>
<br>
Hasta un máximo de 50 premios categoría <strong>FINALISTA SELECCIONADO</strong>  300,00 €<br>
<br>
           <ul>


<li>El importe de los premios lo recibirá el titular "interesado" que conste en la inscripción, y que deberá ser el representante legal en el caso de los menores de edad.</li>
<li>Las cantidades a percibir en cada uno de los premios estarán sujetas a la legislación vigente, aplicándose sobre las citadas cantidades las retenciones legalmente establecidas.</li>
</ul>

<li><span>Se potenciará que entre los objetivos de adjudicación de los premios el 70% de las agrupaciones o solistas pertenezcan a la escena musical local de Alcalá de Henares. A este respecto, en el momento de la inscripción se deberá acreditar en caso de solista, que ha nacido, que trabaja, que estudia o que reside en Alcalá de Henares y rellenar el documento acreditativo; en caso de agrupaciones musicales, que al menos uno de sus componentes pueda acreditar que ha nacido, que trabaja, que estudia o que reside en Alcalá de Henares, rellenando el documento acreditativo o tener su sede o domicilio social en la ciudad de Alcalá de Henares. Para poder garantizar el equilibrio en la programación del evento, así como la diversidad de estilos, se podría reducir el porcentaje de bandas locales de no conseguirse un número apto de candidatos en alguna de las categorías, no siendo nunca inferior al 60%.</span></li>
<li><span>El importe del premio lo recibirá el interesado (persona física o jurídica) que conste en la inscripción de este concurso, siendo en el caso de los menores de edad, su representante legal. Por lo tanto, el premio se recibirá en el número de cuenta bancario indicado del que sea titular quien figura como interesado en la inscripción del concurso.
    <br>Los premiados podrán entregar, una vez comunicados los premios y realizada su actuación, el impreso “Modelo 040” del Ayuntamiento de Alcalá de Henares( Anexo 1 de  estas  bases, donde el  titular  que  figure  en  el  apartado  “(1) Datos  del  interesado” de este impreso, debe coincidir con quien conste como “interesado” en la inscripción  del concurso ALCALÁ SUENA 2024)  que deberá ir debidamente cumplimentado y sellado por el banco que corresponda. A falta de sello bancario, se puede acompañar el mencionado impreso por certificado de titularidad de cuenta bancaria de quien figura como “interesado” en la inscripción de ALCALÁ SUENA 2024, <strong>todo ello hasta el 24 de junio de 2024</strong>. De no recibirse esta documentación en el citado plazo, se entenderá que se renuncia al premio económico concedido.</span></li>
<li><span>Los premiados formarán parte de la programación del evento “ALCALÁ SUENA 2024” en su formato presencial o bien adaptada a otra modalidad en caso necesario. De ser así, si se requiere por parte de la organización el envío de un vídeo para ser colgado en la web del concurso a modo de actuación on line durante las fechas del evento, éste deberá ser distinto al presentado para su valoración para el concurso, siendo motivo de renuncia al cobro del premio obtenido, la no presentación de la este vídeo.</span></li>
<li><span>La incorporación de cualquier modificación de organización que no figure en las presentes bases, será oportunamente anunciada en las vías de comunicación del evento (Web, notas de prensa, etc.)</span></li>
<li><span>La organización tiene potestad para decidir sobre las cuestiones que se puedan plantear y que no se encuentren recogidas en las presentes bases.</span></li>
<li><span>La organización se reserva el derecho de expulsar a un grupo o participante si su conducta o actitud  en cualquiera de las fases del presente concurso es considerada perjudicial para la imagen del mismo.</span></li>
<li><span>La organización, deja abierta la posibilidad de que alguna entidad externa, como manera de apoyar, promocionar o colaborar con el evento, pueda proponer o plantear premiar a alguno de los grupos participantes.</span></li>
    </ol>

    <hr>

    <h3>JURADO</h3>
    <ol>
       <li><span>El fallo de los premios, que será inapelable, corresponderá a un Jurado compuesto por un máximo de 7 personas, en cualquier caso en número impar, presidido por la Alcalde-Presidente del Ayuntamiento de Alcalá de Henares o persona en quien ésta delegue, y a ésta corresponderá designar a los miembros del mismo entre personas relacionadas con el mundo de la música, y/o de prestigio en el ámbito musical. Actuará como Secretario del Jurado, con voz y sin voto, un empleado de la Concejalía de Cultura, que coordinará cuantas acciones técnicas y administrativas tengan relación con la convocatoria.</span></li>
        <li><span>El Jurado queda facultado para dirimir cualquier eventualidad no prevista en las
presentes bases, asimismo, tendrá capacidad de interpretación a cuantos efectos
procedan.</span></li>
        <li><span>Los miembros del Jurado deberán abstenerse de intervenir cuando en ellos concurra alguna de las causas previstas en el Art. 23 de la Ley 40/2015, de 1 de octubre, de Régimen Jurídico del Sector Público. Asimismo, quienes tengan interés podrán promover la recusación de los miembros del Jurado en los casos previstos en el párrafo anterior, de conformidad a lo establecido en el Art. 24 de la citada Ley. El Presidente del Jurado, establecerá el orden de las deliberaciones, así como el proceso de votación, si es que fuera preciso, para emitir el fallo del Premio, que podrá hacerse público el mismo día que se produzca, una vez aceptado por la persona o institución que resultara premiada</span></li>
        <li><span>La valoración de las bandas participantes se puntuará en base a criterios objetivos (50%)
y al criterio del jurado (50%), que tendrá en cuenta la calidad, variedad e idoneidad de las
propuestas para garantizar que los premios finalistas seleccionados aporten coherencia,

equilibrio y pluralidad de estilos musicales a la programación final del evento. Para la
presente edición del concurso, el jurado tendrá en cuenta los siguientes criterios
objetivos: presencia de mujeres en la formación musical, jóvenes talentos (que el 50% de
la formación sean menores de 21 años), haber realizado al menos 2 conciertos en los
últimos 6 meses, haber editado al menos un álbum, música disponible en plataformas
digitales, tener página web propia, aportar dossier de prensa, enlace a crónicas o críticas,
tener perfiles activos en redes sociales, no haber sido seleccionado en la pasada edición y
contar con un repertorio de temas propios.</span></li>
<li><span>El jurado se reserva el derecho a declarar desierto alguno de los premios. Los premios no podrán otorgarse “ex aequo”.</span></li>
<li><span>El fallo del jurado se hará público en la página web www.alcalasuena.es, los nombres de los ganadores se publicaran en dicha página y  formarán parte de la programación del evento según el punto 8 de las presentes bases.</span></li>
    </ol>

    <hr>

    <h3>CONDICIONES DE ACTUACIÓN</h3>
    <ol>
       <li><span>Los grupos o solistas premiados actuarán según las prescripciones y condiciones de la organización en la fecha, a la hora, en el lugar o a través del medio que determine la organización y que se anunciará oportunamente, pudiendo ser presencial u on line. La puntuación obtenida se tendrá en cuenta a la hora de establecer el orden de la actuación en el programa previsto.</span></li>
<li><span>El artista se compromete a cumplir los horarios de montaje y prueba de sonido definidos por la organización.</span></li>
<li><span>Para las actuaciones presenciales, la organización pondrá a disposición del grupo o solista premiado: Back-line, sonido PA, monitores e iluminación. El material extra o alternativo será por cuenta del grupo o solista que lo precise.</span></li>
<li><span>	La organización en ningún caso se hará cargo de dietas de mantenimiento, alojamiento o desplazamiento que pueda precisar el grupo o solista para su participación y actuación en el evento. Tampoco asumirá costes generados por la actuación no presencial que en su
caso se solicite.</span></li>
<li><span>	La actuación de los premiados no podrá en ningún caso en su puesta en escena y/o en el desarrollo de su actuación utilizar un lenguaje ofensivo o lesivo para la sensibilidad del público; que ocasione alteraciones del orden público con peligro para las personas y bienes, que se exhiban  pancartas o símbolos que inciten a la violencia, el racismo, la xenofobia, la homofobia y la violencia machista y que en ningún caso contravengan lo establecido en la Ley 17/1997 de Espectáculos Públicos y Actividades Recreativas de la Comunidad de Madrid y en la normativa aplicable. De no ser así la organización tendrá la potestad de paralizar la actuación y no se tendrá en ese caso derecho a premio alguno.</span></li>
<li><span>  Los artistas premiados serán responsables de cualquier daño que pudieran ocasionar en los equipos e infraestructura aportados para su actuación.</span></li>
<li><span>	Los artistas premiados pueden renunciar voluntariamente al premio que le haya sido otorgado.</span></li>
<li><span>	El premio se hará efectivo en caso de que no pueda llevarse a cabo la actuación si es por causas no imputables a la agrupación musical.</span></li>
<li><span>	La inscripción para participar en este concurso supone la aceptación íntegra de las presentes Bases.</span></li>
    </ol>

    <small>Concejalía de Cultura, Turismo y Universidad<br>
Excmo. Ayuntamiento de Alcalá de Henares<br><br><br>
</small>

</div>


{% endblock %}