{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2022 | Formulario de Inscripción{% endblock%}

{% block content %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Concurso AlcaláSuena 2022</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center">
    <h3>Formulario de inscripción</h3>
</div>

<div class="container main card">
    <h3></h3>
    <p class="text-center lead">
        El periodo de inscripción para <strong>Alcalá Suena 2022</strong> terminó el 15 de marzo...
        <br><br>
    </p>

</div>
{% endblock %}

