{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2018 | Formulario de Inscripción{% endblock%}

{% block content %}
<div class="jumbo-header" style="background-image:url('{% static "img/band-header.jpg" %}')" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Concurso AlcaláSuena 2018</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center">
    <h3>Formulario de inscripción</h3>
</div>

<div class="container main card">
    <h3></h3>
    <p class="text-center">
        Las inscripciones se abrirán a partir del día 6 de abril.<br><br>
    </p>

</div>
{% endblock %}