{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2021 | Concurso {% endblock%}

{% block content %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Concurso AlcaláSuena 2021</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center no-margin">
</div>

<div class="container main card">
    <h3></h3>
    <p class="text-center lead">
       Durante los meses de febrero y marzo se realizó un concurso abierto en el que todas las bandas que quisieran podían inscribirse y participar en Alcalá Suena 2021.
    </p>

    <p>
A la fecha del cierre del plazo de inscripción, han sido casi 250 agrupaciones las que han querido participar y poder optar a alguno de los premios del concurso. Entre las agrupaciones participantes, cerca de un centenar son de Alcalá de Henares o con alguno de sus músicos ligados actualmente a la ciudad; también encontramos bandas procedentes de muy diferentes puntos del territorio nacional e internacional.
       <br><br>
        <strong>Ana Doncel (La Furgo RUAH), Cristina Morena (Alcalá es Música/El erizo albino), José Enrique Causapie "Kenzo" (Peñas de Alcalá), Inti Pérez (Festival Sziget-Hungría / Festival Exit-Serbia) y el reputado músico local Carlos Chacal</strong> han sido los componentes del jurado gracias al cual, a pesar de la situación que estamos atravesando, se ha podido dar continuidad a este proyecto impulsado por el Ayuntamiento de Alcalá de Henares y que cuenta con la coordinación artística de <a href="http://alcalaesmusica.org/" target="_blank"> Alcalá es Música</a>.
<br><br>
En esta edición del concurso se han seguido teniendo en cuenta, además de los criterios de calidad y variedad musical, aquellos criterios objetivos para promover la presencia agrupaciones con mujeres en su composición y de jóvenes talentos, por ejemplo, con el fin de conseguir una programación con diversidad de estilos y con una cuota de al menos un 70% de bandas con miembros de la ciudad.
<br><br>
        El 70% de estos premios se han otorgado a bandas de Alcalá o con algún miembro ligado actualmente a la ciudad, el resto de los premios han sido para bandas de Madrid, Barcelona, Valencia, Ciudad Real, Conil de la Frontera y a una agrupación procedente de Bruselas.
    </p>

    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Bandas</h3>
            <p> Aunque solo unas pocas fueron seleccionadas, aquí puedes consultar los perfiles de todas las bandas que se presentaron al concurso de Alcalá Suena 2021.</p>
            <br>
            <a href="{% url 'contest_entries_list' %}" class="btn btn-primary btn-lg">Ver bandas participantes</a><br>
            <img class="img-responsive" src="{% static "img/contest-bands.png" %}">
        </div>
        <div class="col-md-6 text-center">
            <h3>Concurso</h3>
            <p>La inscripción era abierta, llegando a casi 250 inscripciones! Toda banda que toca en Alcalá Suena tras la selección del jurado recibe un premio en metálico.</p><br>
            <a href="{% url 'bases' %}" class="btn btn-primary btn-lg">Ver bases del concurso</a><br>
            <img class="img-responsive" src="{% static "img/contest.png" %}">
        </div>
    </div>

    <br><br><br>

</div>
{% endblock %}

