{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2018 | Formulario de Inscripción{% endblock%}

{% block content %}
<div class="jumbo-header" style="background-image:url('{% static "img/band-header.jpg" %}')" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Concurso AlcaláSuena 2018</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center no-margin">
</div>

<div class="container main card">
    <h3></h3>
    <p class="text-center lead">
       Durante el mes de abril se realizó un concurso abierto en el que todas las bandas que quisieran podían inscribirse y participar en Alcalá Suena, así como un voto abierto al público para seleccionar sus favoritas.
    </p>

    <p>
        El centro histórico de Alcalá de Henares se llenará del 1 al 3 de junio de música en la IV edición de Alcalá Suena, impulsada por el Ayuntamiento de Alcalá de Henares, con la coordinación artística de Alcalá es Música, donde más de 80 propuestas musicales se darán cita en un cartel que agrupa todos los estilos y que en esta cuarta edición es el resultado de un concurso del que ya se conoce el resultado.
<br><br>
        Más de 200 agrupaciones han competido por tener un espacio en uno de los 6 escenarios del festival, y el jurado, compuesto por <strong>Ángel Carmona (Radio 3), Ana Doncel (en representación de La Furgo RUAH), Julio Muñoz ( Festimad, premios rock villa de Madrid), Nuria Castañer (La Rubia Producciones) y César Gallego (Alcalá es Música)</strong>, no lo ha tenido fácil para escoger a las 70 bandas participantes en esta edición. Atendiendo a criterios como la calidad o la originalidad, ofrecer una diversidad de estilos, y garantizando una cuota de al menos 70% de bandas con miembros de nuestra ciudad, orientándose además por el voto popular, en el que más de 17.000 se han registrado para votar a sus propuestas favoritas, han resuelto el programa que se puede consultar desde ya en esta web.
    </p>

    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Público</h3>
            <p> <span>El público ayudó al jurado votando a sus grupos favoritos de la lista de bandas. Cada persona tenía hasta 10 votos para repartir entre las más de 200 propuestas musicales que participaron en el concurso</span></p>
            <br>
            <a href="{% url 'contest_entries_list' %}" class="btn btn-primary btn-lg">Ver bandas participantes</a><br>
            <img class="img-responsive" src="{% static "img/vota.jpg" %}">
        </div>
        <div class="col-md-6 text-center">
            <h3>Bandas</h3>
            <p>La inscripción era abierta, llegando a más de 200 inscripciones! Toda banda que toca en Alcalá Suena tras la selección del jurado recibe un premio en metálico.</p><br>
            <a href="{% url 'bases' %}" class="btn btn-primary btn-lg">Ver bases del concurso</a><br>
            <img class="img-responsive" src="{% static "img/inscripcion.jpg" %}">
        </div>
    </div>

    <br><br><br>

</div>
{% endblock %}

