{% extends "base.html" %}
{% load static %}
{% block title %}Alcalá Suena 2023 | Concurso {% endblock%}

{% block content %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Concurso AlcaláSuena 2023</h1>
      </div>
    </div>
</div>
<div class="header-bar text-center no-margin">
</div>

<div class="container main card">
    <h3></h3>
    <p class="text-center lead">
       Durante los meses de febrero y marzo se realizó un concurso abierto en el que todas las bandas que quisieran podían inscribirse y participar en Alcalá Suena 2023.
    </p>

    <p>
A la fecha del cierre del plazo de inscripción, han sido más de 500 agrupaciones las que han querido participar y poder optar a alguno de los premios del concurso. Entre las agrupaciones participantes, cerca de un centenar son de Alcalá de Henares o con alguno de sus músicos ligados actualmente a la ciudad; también encontramos bandas procedentes de muy diferentes puntos del territorio nacional e internacional.
       <br><br>
        <!--<strong>Alicia Sánchez (Alcalá es Música), Ana Doncel (La Furgo RUAH), Jennifer de Luz Alfaro (Coordinadora de Peñas), Nacho Alvarado "El Patillas" (Radio3) y Sandra Delaporte (Delaporte)</strong> han sido los componentes del jurado gracias al cual, a pesar de la situación que estamos atravesando, se ha podido dar continuidad a este proyecto impulsado por el Ayuntamiento de Alcalá de Henares y que cuenta con la coordinación artística de <a href="http://alcalaesmusica.org/" target="_blank"> Alcalá es Música</a>.
<br><br>-->
En esta edición del concurso se han seguido teniendo en cuenta, además de los criterios de calidad y variedad musical, aquellos criterios objetivos para promover la presencia agrupaciones con mujeres en su composición y de jóvenes talentos, por ejemplo, con el fin de conseguir una programación con diversidad de estilos y con una cuota de al menos un 70% de bandas con miembros de la ciudad.
<br>
        </p>

    <div class="row">
        <div class="col-md-6 text-center">
            <h3>Bandas</h3>
            <p> Aunque solo unas pocas serán seleccionadas, aquí puedes consultar los perfiles de todas las bandas que se presentaron al concurso de Alcalá Suena 2023.</p>
            <br>
            <a href="{% url 'contest_entries_list' %}" class="btn btn-primary btn-lg">Ver bandas participantes</a><br>
            <img class="img-responsive" src="{% static "img/contest-bands.png" %}?v=2">
        </div>
        <div class="col-md-6 text-center">
            <h3>Concurso</h3>
            <p>La inscripción era abierta, llegando a más de 500 inscripciones! Toda banda que toca en Alcalá Suena tras la selección del jurado recibe un premio en metálico.</p><br>
            <a href="{% url 'bases' %}" class="btn btn-primary btn-lg">Ver bases del concurso</a><br>
            <img class="img-responsive" src="{% static "img/contest.png" %}?v=2">
        </div>
    </div>

    <br>

     <h3>PROTECCIÓN DE DATOS</h3>

    <p>Los datos de carácter personal recabados, serán tratados por el Ayuntamiento de Alcalá de Henares como
responsable e incorporados al tratamiento “Charlas, presentaciones, exposiciones y actividades culturales”, cuya finalidad es
información sobre las actividades de interés desarrolladas en la Concejalía de Cultura, asistencia y/o participación en las mismas. La
base jurídica de legitimación para el tratamiento de los datos personales radica en el cumplimiento de una misión realizada en interés
público o en el ejercicio de poderes públicos conferidos al responsable del tratamiento. No se prevén transferencias de datos y sólo se
        llevarán a cabo las comunicaciones legalmente establecidas. </p>
    <p>
        Los datos se conservarán durante el tiempo necesario para cumplir con la
finalidad para la que se recabaron y para determinar las posibles responsabilidades que se pudieran derivar de dicha finalidad y del
tratamiento de los datos. Usted podrá ejercitar los derechos de Acceso, Rectificación, Limitación del tratamiento, Supresión o, en su
caso, Oposición, conforme a la información disponible en la Política de Privacidad https://www.ayto-alcaladehenares.es/politica-de-
privacidad/ ante el Ayuntamiento de Alcalá de Henares, Plaza de Cervantes, 12, 28801 Alcalá de Henares o en la dirección de correo
dpd@ayto-alcaladehenares.es</p>


Prestadores del Servicio – Encargados de Tratamiento de Datos: <br>
Página Web: Anarres apps&development - CIF 0905022E<br>
Asesoramiento Técnico durante el concurso: Alcalá es Música - CIF G87185492

<div class="p-2 mb-3"></div><br><br><br>
</div>
{% endblock %}

