<div class="jury-vote" data-vote="{% url 'contest_band_vote' band.pk %}">

  <input class="custom-range" name="vote" type="range" id="rangeinput" value="{{ band.jury_vote.vote|default:0 }}" min="0" max="50" />
  <output for="vote" >{{ band.jury_vote.vote|default:0 }}</output>
  <div class="success" {% if band.jury_vote.vote is None %} style="display:none;"{% endif %}><i class="fa fa-check" style="color:#33aa33;"></i></div>
    {% if band.jury_vote %} <small><strong>Votado:</strong> {{band.jury_vote.timestamp|date:'d/m/Y H:i'}}</small> {% endif %}
</div>