{% extends "base.html" %}
{% load static %}
{% block title %}Alcalá Suena 2023 | Política de privacidad{% endblock%}

{% block content %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Política de Privacidad</h1>
        <p class="description">Alcalá Suena 2023</p>
      </div>
    </div>
</div>
<div class="header-bar text-center">
</div>

<div class="container main card contest-conditions ">

    <h3>PROTECCIÓN DE DATOS</h3>
    <p>
    Los datos de carácter personal recabados, serán tratados por el Ayuntamiento de Alcalá de Henares como responsable e incorporados al tratamiento “Charlas, presentaciones, exposiciones y actividades culturales”, cuya finalidad es información sobre las actividades de interés desarrolladas en la Concejalía de Cultura, asistencia y/o participación en las mismas.
    </p>
    <p>
    La base jurídica de legitimación para el tratamiento de los datos personales radica en el cumplimiento de una misión realizada en interés público o en el ejercicio de poderes públicos conferidos al responsable del tratamiento.
    </p>
    <p>
    No se prevén transferencias de datos y sólo se llevarán a cabo las comunicaciones legalmente establecidas.
    </p>
    <p>
    Los datos se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recabaron y para determinar las posibles responsabilidades que se pudieran derivar de dicha finalidad y del tratamiento de los datos. Usted podrá ejercitar los derechos de Acceso, Rectificación, Limitación del tratamiento, Supresión o, en su caso, Oposición, conforme a la información disponible en la Política de Privacidad https://www.ayto-alcaladehenares.es/politica-de-privacidad/ ante el Ayuntamiento de Alcalá de Henares, Plaza de Cervantes, 12, 28801 Alcalá de Henares o en la dirección de correo dpd@ayto-alcaladehenares.es
    </p>
Prestadores del Servicio – Encargados de Tratamiento de Datos: <br>
Página Web: Anarres apps&development - CIF 0905022E<br>
Asesoramiento Técnico durante el concurso: Alcalá es Música - CIF G87185492 <br>

    <p>
Si accede a las votaciones a través de las plataformas Twitter o Facebook, le informamos que acepta también su política de privacidad, lo que les autoriza a transferir, tratar, almacenar y usar la información transmitida de acuerdo con las condiciones que señala esa compañía en su política de privacidad y condiciones específicas de uso
</p>

    <small>Concejalía de Cultura, Turismo y Universidad<br>
Excmo. Ayuntamiento de Alcalá de Henares<br><br><br>
</small>

</div>


{% endblock %}