<div class="public-vote">

    {%if user.is_authenticated %}
        <div class="text-center voted-band" {% if not voted %}style="display:none;"{% endif %}>
        <i class="fa fa-heart fa-3x" aria-hidden="true" style="color:red;"></i>
            <p style="display:inline-block;"> Has votado a esta banda para<br>que participe en Alcalá Suena!</p>
        <a href="{% url 'contest_user_votes' %}" class="btn-primary btn btn-block">Ver mis votos</a>
        </div>

        <div class="text-center pending-vote-band" {% if voted %}style="display:none;"{% endif %}>
            <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
            <p style="display:inline-block;"> Vota para que esta banda <br>participe en Alcalá Suena!</p>
            <button class="btn btn-primary btn-block btn-add-vote" data-vote="{% url 'contest_public_vote' band.pk %}">Votar!</button>
    <div class="alert alert-warning text-center" style="display:none;" role="alert"><span>Ya has votado al máximo de bandas posibles</span><br><a href="{% url 'contest_user_votes' %}" class="btn-primary btn btn-block">Ver mis votos</a></div>
        </div>
    {% else %}
        <div class="text-center">
            <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
            <p style="display:inline-block;"> Vota para que esta banda <br>participe en Alcalá Suena!</p>
            <a href="{% url 'contest_social_login' %}?band={{band.pk}}" class="btn btn-primary btn-block">Votar!</a>
            </div>
    {% endif %}
</div>