body{ font-family: 'Raleway', sans-serif; padding-right: 0 !important }

header .logo {
    padding: 60px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color:#40474a;
}

body::-webkit-scrollbar-thumb {
  background-color: #c00812;
}

header h1 {
    color: #fff;
    padding-bottom: 60px;
}

section.banda_negra {
    background-color: #000;
    padding: 20px;
}

.banda_negra h2 {
    color: #fff;
}

.btn-descripcion {
    margin-top: 20px;
    font-size: 18px;
    border-radius: 18px;
}

a.rrss {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    background-color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
    border-radius: 20px;
}


.band_header {
    background-image: url('../img/ficha-default-img.jpg');
    padding-top: 120px;
}

.jumbo-header{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.jumbo-header .jumbotron{
    background-color:rgba(0,0,0,0.4);
    color:#fff;
    text-shadow: 0 0 3px #111;
    font-size:0.9rem;
    margin-bottom:0;
    padding-top:100px;
    padding-bottom:60px;
    position: relative;
}
.jumbo-header.jumbo-band{
    background-image: url('../img/band-header.jpg');
}
.jumbo-header.home .jumbotron{ padding-top:70px; background:transparent;
    padding-bottom:5px; }
h1, h2, h3, h4{
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
}
.jumbo-header h1{ color:#e8e8e8 !important; font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
}
.jumbo-header.app .jumbotron{ min-height:55vh; }

.jumbo-header .description{
    font-size:14px;
}

.app-info img{
    margin:auto; max-width:90%;
    margin-bottom:-180px;
}

@media (max-width: 992px){
    .app-info img{
        margin:auto; max-width:100%;
        margin-bottom:-280px;
    }
    .app-info{ margin-bottom:-50px;}
}
@media (max-width: 768px){
    .app-info img{
        margin:auto; max-width:80%;
        margin-bottom:-60px;
    }
}

h3.eventsday{
    font-size:1.4rem;
    text-transform: uppercase;
    font-weight:bolder;
    color:#333;
    text-align:center;
}

.card{
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all 400ms;
    border-radius:2px;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 6px 5px 0 rgba(0,0,0,0.18), 0 3px 1px -2px rgba(0,0,0,0.2);
    text-decoration: none;
}
.card.main{
    transform:none;
    background-color:#fff;
    margin-top:-25px;
    position:relative;
    z-index:10;
    max-width:95%;
    padding: 3em 5em 1em 5em;
}
@media(max-width:768px){
    .card.main{ padding: 3em 2em 1em 2em; }
}

.band-event{
    padding:10px 5px 20px 5px;
    margin-bottom:1em;
    text-align:center;

    color:#222;
}
.band-event.text-left{ text-align:left; }
.band-event:hover{

    opacity:0.9;
    color:#eee;
}
.band-event .hour{
    display:block;
    margin:auto;
    font-size:1em;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
    padding:0 20px;
}
.band-event .band{
    display:block;
    margin:auto;
    padding:0 20px;
    font-size:1.3em;
}
.band-event .venue{
    font-size:0.95em;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    opacity:0.7;
}
body{
    background-color: #dadada;
    background-image: url('../img/main_bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    background-attachment: fixed;
}

.header-bar{
    background-color: #c00812;

    color: #f1f1f1;
    padding: 25px 0;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    margin-bottom:3em;
}
.header-bar h2{ font-weight: 700; font-size:38px;}

footer{
    margin-top:3em;
    padding: 3em 0;
    background-color: #40474a;
    color:#f9f9f9;
}
.lead span{ font-size:0.9em; }
.img-responsive{ margin:auto; }
footer .img-responsive{ max-width:80%; margin:auto; }
.btn.btn-primary{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #40474a;
    border-radius:2px;
    border:none;
    text-transform: uppercase;
    transition: all 500ms;
    white-space: normal;
    margin-bottom:1em;
    font-family: 'Oswald';
}
.btn.btn-primary:hover{ background-color: #5e686d; }
.btn.btn-primary .fa.left{ margin-right:10px;}
.btn.btn-primary .fa.right{ margin-left:10px;}
.btn.btn-primary.red{
    background-color:#c00812;
}
.navbar{
    background: transparent;
    border:none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    transition: all 600ms;
}
.navbar.scrolled, body.visible-bar .navbar{ background-color: #211916; box-shadow: 0 3px 4px rgba(0,0,0,0.4); z-index:4000;}
.navbar-default .navbar-nav>li>a{ color:#fff; font-size:1.05em; transition: all 600ms; }
.navbar-default .navbar-nav>li>a:hover{ color:#9fd2eb; }
.navbar-default .navbar-nav>li.active>a{ background-color:#c00812; color:#fff; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border:none;}
.navbar-brand{ padding-top: 1px; }
.navbar-brand-text{ color:#fff; line-height:50px; height:50px;}
@media (max-width: 768px){
.nav.navbar-nav{ background-color: #211916; }
}
.heading{ font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center; margin:1.4em 0; font-size:1.4em; color:#777;}
.dossier{ text-aligm:center; color:#f9f9f9; background-color: #211916;   font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center;}
.dossier:hover{ background-color: #c00812; color:#fff;}
.dossier p{ padding:5px 0; }
.venue-card{
    background-color:#e8e8e8;
    text-transform:uppercase;
    margin-bottom:1em;
    text-align:center;
    padding-bottom:16px;
}
a.venue-card:hover{
    background-color:#c00812;
}
.venue-image{
    height:180px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#ddd;
    margin-bottom:1em;
}
.venue-card .title{
    font-size:1.5em;
    display:block;
    color:#111;
    text-align:center;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.venue-card .address{
    color:#777;
    font-weight:bold;
}
.fab{
    position: absolute;
    right: 20px;
    margin-top: -50px;
    height: 70px;
    width: 70px;
    line-height:70px;
    background-color:#c00812;
    cursor:pointer;
    font-size:30px;
    border-radius:50%;
    color:#fff;
}
a.venue-card:hover .title, a.venue-card:hover .address{ color:#fff; }

.insula img, .insula p{ display:inline-block; vertical-align:middle;}
.insula p{ text-align:left; padding-left:20px;}
.insula .btn{ margin-top:14px; }
.insula a{ color:#fff; font-weight:bold; }
#map{ position:relative; overflow:hidden;}
#map .container{ background-color:#f3f3f3; }
#map .map-container{ float:left;width:70%; }
#map .legend{ float:left; width:30%; }
#map  img{ width:100%; }
#map .point{ font-size:16px; text-spacing:-3px; font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; position:absolute; width:30px; height:30px; background-color:#c00812; border-radius:50%; color:#fff; text-align:center; line-height:30px; font-weight:bold;}
#map .point::after{
    content:'';
    width:30px; height:30px;
    position:absolute;
    margin-left:-20px;
    border-radius:50%;
}
#map .point:hover{ cursor: pointer; opacity:0.9;}
#map .point:hover:after{
	border: 5px solid #c00812;
    -webkit-animation: pulsate 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
.modal, .modal-backdrop {
    position: absolute !important;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.3;}
    50% {opacity: 0.7;}
    100% {-webkit-transform: scale(1.8, 1.8); opacity: 0.0;}
}
@keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
@-webkit-keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
.showmore{
    position: relative;
    font-size: 70px;
    color: #fff;
    -webkit-animation: pull-down 700ms infinite alternate;
    animation: pull-down 700ms infinite alternate;
    text-shadow: 0 3px 3px #c00812;
}
.showmore:hover, .showmore:active{ color:#f1f1f1; }

.band-venue img, .band-venue p{ display:inline-block; vertical-align:middle; }
.band-venue p{ padding-left:20px; text-align:left;}

.venue-image.venue-icon{
    border-radius: 50%;
    margin:0;
    height: 70px;
    width:70px;
 }
.header-band .day{ font-size:3rem; display:block;}
.header-band .hour{ display:block;
    margin:auto;
    font-size:2.5rem;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    }

.social-links{
    margin: 2em 0;
}
.social-links a{
    border-radius:50%;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    font-size:30px;
    color:#fff;
    display:inline-block;
    background-color:  #c00812;
    margin-left:1rem;
}
.social-links.inline{
    display:inline-block;
    vertical-align:middle;
}
#results{
    padding:4em 1em;
}
#results i.fa{
    font-size:60px;
    display:block;
    margin:auto;
    color:#aaa;
}

.modal-dialog.venue-card{
    top:50%;
    margin-top:-120px;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    border:none;
    background-color:transparent;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.mosaicflow__column {
  float: left;
}
.mosaicflow__item{
	padding: 4px;
}
.mosaicflow__item a {
  display: block;
  border:5px solid #fff;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
  transition: 700ms all;
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
.mosaicflow__item img{  width: 100%;
  height: auto; }
.mosaicflow__item a:hover{
	-webkit-transform: scale(1.04);
	box-shadow: 0 11px 24px rgba(0,0,0,0.5);
}
.mosaicflow__item a{
    position:relative;
    width:100%;
    overflow:hidden;
}
.mosaicflow__item a:before{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    z-index:200;
}
.band_link span{
    position:absolute;
    padding:0 10px;
    top:40%;
    text-align:center;
    margin-top:-20px;
    width:100%;
    display:block;
    left:0;
    z-index:2000;
    color: #e8e8e8 !important;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size:1.15em;
}

.tag{
    padding: 5px 15px 5px 20px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
    margin-right:6px;
    margin-bottom:10px;
    position:relative;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.tag:before{ content:'·'; position:absolute; font-weight:bold; left:5px; color:#cecece; font-size:30px;font-family:serif; top:-5px;}

.filtered .tag{ opacity:0.4; }
.tag:hover{ opacity:1; cursor:pointer; }
.filtered .tag.active{ opacity:1; font-weight:bold;}

.band-profile-image{ margin-bottom: 1.5em; }

@media (max-width:768px){
    .header-band .col-sm-6:first-child{ margin-bottom:1em; }
     .header-band .col-sm-6:first-child:after{
        content:'';
        display:block;
        margin:auto;
        width:70px;
        padding-top:0.5em;
        border-bottom:2px solid #fff;
     }
}


.input-group .input-group-addon{
    background:#1f282d;
    color:#fff;
    min-width:30px;
}
.input-group .input-group-addon i{
    width:20px;
    font-size:21px;
}
.input-group .input-group-addon input[type="checkbox"]{
    height:18px;
    width:18px;
}
.input-group div.form-control{
    border-color:transparent;
    box-shadow:none;
}
.file-field .btn{
    float: left;
    height: 60px;
    width: 60px;
    line-height: 50px;
    position:relative;
    cursor:pointer;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

label input[type="radio"] ~ i.fa, label input[type="checkbox"] ~ i.fa{
    display: inline-block;
    vertical-align:middle;
}
input[type="radio"], input[type="radio"]:focus, input[type="checkbox"], input[type="checkbox"]:focus{
    outline:none !important;
    outline-color: transparent;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #666;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #cc0000;    display: inline-block;
}
label:hover input[type="radio"] ~ i.fa {
    color: #cc0000;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #666;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #cc0000;    display: inline-block;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #cc0000;
}

div[data-toggle="buttons"] label.active{
    color: #cc0000;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid
    #c8c8c8;
    border-radius: 3px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none !important;
}

div[data-toggle="buttons"] label:hover {
    color: #cc0000;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.edit-form input, .edit-form textarea{ width:100%; outline:none; border:none; padding:5px 10px; border-left: 1px solid #ddd; border-bottom:1px solid #AAA; }
.edit-form input:focus, .edit-form textarea:focus{ border-bottom: 2px solid #c00812; }
.edit-form input[type="file"]{ border:none; padding-left:0; }
.edit-form input[type="checkbox"]{ width:auto; }

body.snapshot .navbar-toggle, body.snapshot .navbar-brand, body.snapshot .band-venue .btn{ display:none; }
body.snapshot .navbar-brand-text
{
    font-size: 18px;
    display: block;
    text-align: center;
}
body.snapshot .navbar-brand-text:before{ content:'#AlcalaSuena: '; color:#aaa;}
body.snapshot .band-venue p{
        padding-left: 20px;
    text-align: left;
    font-size: 26px;
    padding-right: 50px;
}
body.snapshot .header-band .col-sm-6{ margin-bottom:-5px;}

.edit-form{ margin:auto;}
.edit-form table{ width:100%;}
@media (max-width:768px){ .edit-form{ width:95%; } }
.edit-form td{ padding: 7px; }
.edit-form input, .edit-form textarea{ width:100%; outline:none; border:none; padding:5px 10px; border-left: 1px solid #ddd; border-bottom:1px solid #AAA; }
.edit-form input:focus, .edit-form textarea:focus{ border-bottom: 2px solid #c00812; }
.edit-form input[type="file"]{ border:none; padding-left:0; }
.edit-form input[type="checkbox"]{ width:auto; }

.input-group-text{
    padding-left:15px;
}

.member-form{
    position:relative;
    padding:20px;
    margin-left:15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-bottom:1em;
}
.member-form .delete-btn{
    position:absolute;
    bottom:0;
    right:15px;
}

.form-control:focus {

    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,140,140,.6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,140,140,.6);
    }

.nav-tabs>li>a{
    text-transform:uppercase;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size:1.2em;
    color:#555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none;
    border-radius:none;
    color:#c00812;
    border-bottom: 3px solid #c00812;
}
.double-sep{ margin-top: 40px !important;}
.no-margin{ margin: 0; }

.contest-conditions{
    counter-reset: step-counter;
}
.contest-conditions ol{
  list-style:none;
  margin:2em auto;
  padding:0;
}
.contest-conditions ol > li {
  counter-increment: step-counter;
  margin-bottom: 1.4em;
  padding-left:40px;
  padding-top:3px;
  position:relative;
}
.contest-conditions ol > li::before {
  content: counter(step-counter);
  display:inline-block;
  position:absolute;
  left:0;
  top:0;
  background-color: rgb(180, 180, 180);
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  color: white;
  font-weight: bold;
  width:28px;
  height:28px;
  line-height:28px;
  text-align:center;
  border-radius: 50%;
}


 .header-bar.profile { padding-top:0; }
 .header-bar.profile .container{
    padding-left: 170px;
    position:relative;
 }
.header-bar.profile h1{ margin-top: 0; }
.edit-form .header-bar.profile{ padding-bottom:5px;}
.edit-form .header-bar.profile h1{ margin-bottom: 0; }
 .profile-circle{
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-align:center;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    background-color:#ddd;
}
.profile-circle.small{
    width:90px;
    height:90px;
}
.profile-circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.header-bar .profile-circle{
    position: absolute;
    left:10px;
    margin-top:-90px;
}
.absolute-pos{
    position:absolute;
}
@media (min-width:992px){
    .edit-form .jumbo-band .jumbotron{
        height:350px;
    }
}
