@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

body{ font-family: 'Raleway', sans-serif; padding-right: 0 !important }

header .logo {
    padding: 60px;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color:#40474a;
}

body::-webkit-scrollbar-thumb {
  background-color: #e765af;
}
a{
    color:#532044;
}
header h1 {
    color: #fff;
    padding-bottom: 60px;
}

section.banda_negra {
    background-color: #000;
    padding: 20px;
}

.banda_negra h2 {
    color: #fff;
}

.btn-descripcion {
    margin-top: 20px;
    font-size: 18px;
    border-radius: 18px;
}

a.rrss {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    background-color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
    border-radius: 20px;
}


.band_header {
    background-image: url('../img/ficha-default-img.jpg');
    padding-top: 120px;
}

.tag-filter{
    display:inline-block;
    padding: 13px 18px;
    border-radius:23px;
    margin-right:6px;
    margin-bottom:10px;
    position:relative;
    border:2px solid;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    cursor:pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition:0.4s;
}

.filtered .tag-filter:not(.active){ border-color:#aaa !important; opacity:0.8; }
.tag-filter:hover{ opacity:1; cursor:pointer; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), inset 0 5px 4px 0 rgba(0,0,0,0.13), 0 6px 5px 0 rgba(0,0,0,0.18), 0 3px 1px -2px rgba(0,0,0,0.2); }
.filtered .tag-filter.active{ opacity:1; font-weight:bold;}



.jumbo-header{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.jumbo-header .jumbotron{

    background-color:transparent;
    color:#000;
    font-size:0.9rem;
    margin-bottom:0;
    padding-top:100px;
    padding-bottom:60px;
    position: relative;
}
.jumbo-header .jumbotron p{ font-weight: 700; }
.jumbo-header.jumbo-band{
    background-image: url('../img/band-header2021.jpg');
}


.jumbo-header.home .jumbotron{ padding-top:70px; background:transparent;
    padding-bottom:0; }
.jumbo-header.jumbo-band .jumbotron{
    min-height:35vh;
}
h1, h2, h3, h4{
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    color:#532044;
}
.jumbo-header h1{
    font-family: 'Kodchasan', sans-serif;
color:#f1fefb !important; font-weight:bolder; text-transform:uppercase; line-height:0.9;
text-shadow: 1px 1px 0px #f1fefb, -1px -1px 0px #f1fefb, -1px 1px 0px #f1fefb, 1px -1px 0px #f1fefb;
}
.light-menu .jumbo-header .jumbotron{
    color:#fff;
    text-shadow: 0 0 7px #000;
}
.light-menu .jumbo-header h1{ color:#fff !important; }

.jumbo-header.app .jumbotron{ min-height:55vh; }

.jumbo-header .description{
    font-size:14px;
}
.header-bar .menu, .panel .menu, .list-group .menu{
    text-align:right;
    position:absolute;
    right:40px;
 }
 .panel .menu{
    margin-top:-35px;
 }
.panel{
    margin-top:2em;
    border-radius:3px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    border:0;
    margin-bottom:2em;
}
.panel .description{
    padding: 20px;
}
.panel .panel-icon{
    display:block;
    position:absolute;
    margin:auto;
    width:60px;
    height:60px;
    line-height:60px;
    margin-left:-30px;
    margin-top:-30px;
    background-color:#347289;
    border-radius:50%;
    left:50%;

    text-align:center;

    font-size:30px;
    color:#fff;
}
.panel .map{
    width:100%;
    background:#ddd;
    min-height:280px;
}
.panel .panel-header{
    width:100%;
    height: 250px;
    background-size:cover;
    background-position:center;
    background-color:#ddd;
}
.panel.event-resume{
    max-width:800px;
    margin:auto;
}
.panel.stacked{
    margin-top:-40px;
    z-index:100;
    position: relative;
}


.events-searchbox, .schedule #search_results{
    margin-top:55px;
}

@media (max-width:991px){
    .events-searchbox, .schedule #search_results{
        margin-top:0;
    }
    .events-searchbox{
        margin-bottom:8em;
    }
}
@media (min-width:992px){
    .events-searchbox .collapse{
        display:block !important;
    }
}

.app-info img{
    margin:auto; max-width:90%;
    margin-bottom:-180px;
}

@media (max-width: 992px){
    .app-info img{
        margin:auto; max-width:100%;
        margin-bottom:-280px;
    }
    .app-info{ margin-bottom:-50px;}
}
@media (max-width: 768px){
    .app-info img{
        margin:auto; max-width:80%;
        margin-bottom:-60px;
    }
}

h3.eventsday{
    font-size:1.4rem;
    text-transform: uppercase;
    font-weight:bolder;
    color:#333;
    text-align:center;
}

.card{
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all 400ms;
    border-radius:2px;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 6px 5px 0 rgba(0,0,0,0.18), 0 3px 1px -2px rgba(0,0,0,0.2);
    text-decoration: none;
}
.card.main{
    transform:none;
    background-color:rgba(255,255,255,0.7);
    margin:auto;
    margin-top:-25px;
    position:relative;
    z-index:10;
    max-width:95%;
    padding: 3em 5em 1em 5em;
}
@media(max-width:768px){
    .card.main{ padding: 3em 2em 1em 2em; }
}

.band-event{
    padding:10px 5px 20px 5px;
    margin-bottom:1em;
    text-align:center;

    color:#222;
}
.band-event.text-left{ text-align:left; }
.band-event:hover{

    opacity:0.9;
    color:#eee;
}
.band-event .hour{
    display:block;
    margin:auto;
    font-size:1em;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
    padding:0 20px;
}
.band-event .band{
    display:block;
    margin:auto;
    padding:0 20px;
    font-size:1.3em;
}
.band-event .venue{
    font-size:0.95em;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    opacity:0.7;
}
body{
    background-color: #dadada;
    background: -moz-linear-gradient(top, #da225c 0%, #e56154 48%, #fcbd1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #da225c 0%,#e56154 48%,#fcbd1c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #da225c 0%,#e56154 48%,#fcbd1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da225c', endColorstr='#fcbd1c',GradientType=0 );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    background-attachment: fixed;
}

.body-bg{
    background-color: #fff5da;
    background: -moz-linear-gradient(top, #bb4d87 0%, #df9bb6 48%, #f6deaf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bb4d87 0%,#df9bb6 48%,#f6deaf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bb4d87 0%,#df9bb6 48%,#f6deaf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb4d87', endColorstr='#f6deaf',GradientType=0 );
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    position:fixed;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    z-index:-25;
}


.header-bar{
    background-color: #5d1b4e;
    color: #fff;
    padding: 25px 0;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    margin-bottom:3em;
}
.header-bar h2{ font-weight: 700; font-size:38px;}

footer{
    margin-top:0;
    padding: 3em 0;
    background-color: #bb4e87;
    color:#fefefe;
}
.lead span{ font-size:0.9em; }
.img-responsive{ margin:auto; }
footer .img-responsive{ max-width:80%; margin:auto; }
.btn.btn-primary{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #660a05;
    border-radius:2px;
    border:none;
    text-transform: uppercase;
    transition: all 500ms;
    white-space: normal;
    margin-bottom:1em;
    font-family: 'Oswald';
}
.btn.btn-primary:hover{ background-color: #7e0d45; }
.btn.btn-primary .fa.left{ margin-right:10px;}
.btn.btn-primary .fa.right{ margin-left:10px;}
.btn.btn-primary.red{
    background-color:#e765af;
}
.navbar{
    background: transparent;
    border:none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    transition: all 600ms;
}

.navbar-default .navbar-nav>li>a{ color:#111; font-size:1.05em; transition: all 600ms; }
.light-menu .navbar-nav>li>a{ color:#fff; }
.navbar-default .navbar-nav>li>a:hover{ color:#9fd2eb; }
.navbar-default .navbar-nav>li.active>a{ background-color:#f1fefb; color:#222; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border:none;}
.navbar-brand{ padding-top: 1px; }
.navbar-brand-text{ color:#fff; line-height:50px; height:50px;}
.navbar.scrolled, body.visible-bar .navbar{ background-color: #5d1b4e; box-shadow: 0 3px 6px rgba(0,0,0,0.25); z-index:4000;}
.navbar.scrolled .navbar-nav>li>a, body.visible-bar .navbar-nav>li>a{ color:#fafafa; }
.navbar.scrolled .navbar-nav>li.active>a { color:#5d1b4e; }

@media (max-width: 768px){

.nav.navbar-nav{ margin-top:0; margin-bottom:0; background-color: #fff; color:#111; }
}
.heading{ font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center; margin:1.4em 0; font-size:1.4em; color:#777;}
.dossier{ text-aligm:center; color:#f9f9f9; background-color: #211916;   font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center;}
.dossier:hover{ background-color: #e765af; color:#fff;}
.dossier p{ padding:5px 0; }
.venue-card{
    background-color:#e8e8e8;
    text-transform:uppercase;
    margin-bottom:1em;
    text-align:center;
    padding-bottom:16px;
}
a.venue-card:hover{
    background-color:#e765af;
}
.venue-image{
    height:180px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#ddd;
    margin-bottom:1em;
}
.venue-card .title{
    font-size:1.5em;
    display:block;
    color:#111;
    text-align:center;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.venue-card .address{
    color:#777;
    font-weight:bold;
}
.fab{
    position: absolute;
    right: 20px;
    margin-top: -50px;
    height: 70px;
    width: 70px;
    line-height:70px;
    background-color:#5d1b4e;
    cursor:pointer;
    font-size:30px;
    border-radius:50%;
    color:#fff;
}
a.venue-card:hover .title, a.venue-card:hover .address{ color:#fff; }

.insula img, .insula p{ display:inline-block; vertical-align:middle;}
.insula p{ text-align:left; padding-left:20px;}
.insula .btn{ margin-top:14px; }
.insula a{ color:#fff; font-weight:bold; }
#map{ position:relative; overflow:hidden;}
#map .container{ background-color:#f3f3f3; }
#map .map-container{ float:left;width:70%; }
#map .legend{ float:left; width:30%; }
#map  img{ width:100%; }
#map .point{ font-size:16px; text-spacing:-3px; font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; position:absolute; width:30px; height:30px; background-color:#e765af; border-radius:50%; color:#fff; text-align:center; line-height:30px; font-weight:bold;}
#map .point::after{
    content:'';
    width:30px; height:30px;
    position:absolute;
    margin-left:-20px;
    border-radius:50%;
}
#map .point:hover{ cursor: pointer; opacity:0.9;}
#map .point:hover:after{
	border: 5px solid #e765af;
    -webkit-animation: pulsate 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
.modal, .modal-backdrop {
    position: absolute !important;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.3;}
    50% {opacity: 0.7;}
    100% {-webkit-transform: scale(1.8, 1.8); opacity: 0.0;}
}
@keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
@-webkit-keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
.showmore{
    position: relative;
    font-size: 70px;
    color: #fff;
    -webkit-animation: pull-down 700ms infinite alternate;
    animation: pull-down 700ms infinite alternate;
    text-shadow: 0 3px 3px #e765af;
}
.showmore:hover, .showmore:active{ color:#f1f1f1; }

.band-venue img, .band-venue p{ display:inline-block; vertical-align:middle; }
.band-venue p{ padding-left:20px; text-align:left;}

.venue-image.venue-icon{
    border-radius: 50%;
    margin:0;
    height: 70px;
    width:70px;
 }
.header-band .day{ font-size:3rem; display:block;}
.header-band .hour{ display:block;
    margin:auto;
    font-size:2.5rem;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    }

.social-links{
    margin: 2em 0;
}
.social-links a{
    border-radius:50%;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    font-size:30px;
    color:#111;
    display:inline-block;
    background-color:  #e765af;
    margin-left:1rem;
}
.social-links.inline{
    display:inline-block;
    vertical-align:middle;
}
#results{
    padding:4em 1em;
}
#results i.fa{
    font-size:60px;
    display:block;
    margin:auto;
    color:#aaa;
}

.modal-dialog.venue-card{
    top:50%;
    margin-top:-120px;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    border:none;
    background-color:transparent;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.mosaicflow__column {
  float: left;
}
.mosaicflow__item{
	padding: 4px;
}
.mosaicflow__item a {
  display: block;
  border:5px solid #fff;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
  transition: 700ms all;
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
.mosaicflow__item img{  width: 100%;
  height: auto; }
.mosaicflow__item a:hover{
	-webkit-transform: scale(1.04);
	box-shadow: 0 11px 24px rgba(0,0,0,0.5);
}
.mosaicflow__item a{
    position:relative;
    width:100%;
    overflow:hidden;
}
.mosaicflow__item a:before{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    z-index:200;
}
.band_link > span{
    position:absolute;
    padding:0 10px;
    top:40%;
    text-align:center;
    margin-top:-20px;
    width:100%;
    display:block;
    left:0;
    z-index:2000;
    color: #e8e8e8 !important;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size:1.25em;
}
.band_link > span .style{
    display:block;
    text-transform:none;
    font-size:0.7em;
    color:#fff;
    font-weight:lighter;
    font-family: 'Raleway', sans-serif;
}

.tag{
    padding: 5px 15px 5px 20px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
    margin-right:6px;
    margin-bottom:10px;
    position:relative;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.tag:before{ content:'·'; position:absolute; font-weight:bold; left:5px; color:#cecece; font-size:30px;font-family:serif; top:-5px;}

.filtered .tag{ opacity:0.4; }
.tag:hover{ opacity:1; cursor:pointer; }
.filtered .tag.active{ opacity:1; font-weight:bold;}

.band-profile-image{ margin-bottom: 1.5em; }

@media (max-width:768px){
    .header-band .col-sm-6:first-child{ margin-bottom:1em; }
     .header-band .col-sm-6:first-child:after{
        content:'';
        display:block;
        margin:auto;
        width:70px;
        padding-top:0.5em;
        border-bottom:2px solid #fff;
     }
}


.input-group .input-group-addon{
    background:#532044;
    color:#fff;
    min-width:30px;
}
.input-group .input-group-addon i{
    width:20px;
    font-size:21px;
}
.input-group .input-group-addon input[type="checkbox"]{
    height:18px;
    width:18px;
}
.input-group div.form-control{
    border-color:transparent;
    box-shadow:none;
}
.file-field .btn{
    float: left;
    height: 60px;
    width: 60px;
    line-height: 50px;
    position:relative;
    cursor:pointer;
}

.file-field input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

label input[type="radio"] ~ i.fa, label input[type="checkbox"] ~ i.fa{
    display: inline-block;
    vertical-align:middle;
}
input[type="radio"], input[type="radio"]:focus, input[type="checkbox"], input[type="checkbox"]:focus{
    outline:none !important;
    outline-color: transparent;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #666;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #cc0000;    display: inline-block;
}
label:hover input[type="radio"] ~ i.fa {
    color: #cc0000;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #666;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #cc0000;    display: inline-block;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #cc0000;
}

div[data-toggle="buttons"] label.active{
    color: #cc0000;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid
    #c8c8c8;
    border-radius: 3px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none !important;
}

div[data-toggle="buttons"] label:hover {
    color: #cc0000;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.edit-form input, .edit-form textarea{ width:100%; outline:none; border:none; padding:5px 10px; border-left: 1px solid #ddd; border-bottom:1px solid #AAA; }
.edit-form input:focus, .edit-form textarea:focus{ border-bottom: 2px solid #e765af; }
.edit-form input[type="file"]{ border:none; padding-left:0; }
.edit-form input[type="checkbox"]{ width:auto; }


a .event-resume, a .profile-resume{
    color:#333;
}
a:hover .profile-resume, a:hover .profile-resume span{
    text-decoration:none !important;
}
.event-resume{
    text-align:center;
    background-color:#fff;
    max-width:480px;
    margin:auto;
    position:relative;
}
.profile-resume{
    text-align:center;
    background-size:cover;
    background-position:center;
}
.event-resume .header, .profile-resume .header{
    width:100%;
    height: 150px;
    background-size:cover;
    background-position:center;
}
.event-resume .header{
    background-color:#ddd;
}
.event-resume .lead a{ color:#333; position: relative; }
.event-resume .lead a:hover{ color:#666; text-decoration:none;  }
.event-resume .lead a:after{
        display: inline-block;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 35px;
    content: "\f105";
    text-rendering: auto;
    vertical-align:middle;
    right: -10px;
    transition: 400ms all;
    -webkit-font-smoothing: antialiased;
    opacity:0;
}
.event-resume .lead a:hover:after{
    right:-25px;
    opacity:1;
}
.profile-resume .header{
    height:120px;
}
.profile-resume{
    margin-bottom:2em;
}
.resume-card-container a{
    text-decoration:none;
}
.profile-resume .profile-title{
    display:block;
    text-align:center;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size: 1.18em;
}
.profile-resume .profile-body{
    background-color:rgba(255,255,255,0.67);
    padding:30px 10px;
}
.event-resume .profile-circle, .profile-resume .profile-circle{
    margin:auto;
    margin-top:-45px;
    margin-bottom:10px;
}
.profile-resume .profile-circle{
    width:90px;
    height:90px;
    transition:0.4s;
    margin-top:-75px;
}
.profile-resume:hover .profile-circle{
    transform:scale(1.1);
}

.jury-band{
    padding-left: 110px;
    min-height:100px;
    position:relative;
    display:block;
    color:#000;
}
 .jury-band:hover{
    color:#333;
    text-decoration:none;
}
.jury-band .profile-circle{
    position:absolute;
    left:0;
    top:0;
}

.jury-vote .btn-primary{
    background-color:#aaa;
    color:#111;
}
.jury-vote .btn-primary.active{
    box-shadow:0 6px 8px rgba(0,0,0,0.6);
    padding:10px 15px;
    margin-top:-5px;
}

.jury-vote .vote-1{
    background-color:#f03d44;
}
.jury-vote .vote-2{
    background-color:#f0bf3d;
}
.jury-vote .vote-3{
    background-color:#f1eb3d;
}
.jury-vote .vote-4{
    background-color:#a9d278;
}
.jury-vote .vote-5{
    background-color:#39b56e;
}

.header-band .jury-vote{
    position:absolute;
    right:10px;
    top:15px;
    min-width:200px;
}
.public-vote{
    padding:15px;
    border-radius:3px;
    box-shadow: 4px 0 5px rgba(0,0,0,0.3);
    background-color:#fff;
    color:#333;
    margin-bottom:-40px;
}
.public-vote p{
    display:inline-block;
    vertical-align:middle;
}
.public-vote .fa{ margin-right:10px; vertical-align:middle; margin-top:-8px; position:relative; }
.public-vote span{
    text-transform:none;
}
.public-vote .btn{
    margin-bottom:0;
}
.public-vote .fa span{
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size: 22px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 21px;
 }
 .public-vote .fa.fa-heart{
    color:#f03d44;
 }

 .public-vote .fa.fa-heart span{
    color:#fff;
 }
body.snapshot .navbar-toggle, body.snapshot .navbar-brand, body.snapshot .band-venue .btn{ display:none; }
body.snapshot .navbar-brand-text
{
    font-size: 18px;
    display: block;
    text-align: center;
}
body.snapshot .navbar-brand-text:before{ content:'#AlcalaSuena: '; color:#aaa;}
body.snapshot .band-venue p{
        padding-left: 20px;
    text-align: left;
    font-size: 26px;
    padding-right: 50px;
}
body.snapshot .header-band .col-sm-6{ margin-bottom:-5px;}

.edit-form{ margin:auto;}
.edit-form table{ width:100%;}
@media (max-width:768px){ .edit-form{ width:95%; } }
.edit-form td{ padding: 7px; }
.edit-form input, .edit-form textarea{ width:100%; outline:none; border:none; padding:5px 10px; border-left: 1px solid #ddd; border-bottom:1px solid #AAA; }
.edit-form input:focus, .edit-form textarea:focus{ border-bottom: 2px solid #e765af; }
.edit-form input[type="file"]{ border:none; padding-left:0; }
.edit-form input[type="checkbox"]{ width:auto; }

.input-group-text{
    padding-left:15px;
}

.member-form{
    position:relative;
    padding:20px;
    margin-left:15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-bottom:1em;
}
.member-form .delete-btn{
    position:absolute;
    bottom:0;
    right:15px;
}

.form-control:focus {

    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,140,140,.6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(140,140,140,.6);
    }

.nav-tabs>li>a{
    text-transform:uppercase;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    font-size:1.2em;
    color:#555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border:none;
    border-radius:none;
    color:#e765af;
    border-bottom: 3px solid #e765af;
}
.double-sep{ margin-top: 40px !important;}
.no-margin{ margin: 0 !important; }
.margin-top { margin-top: 20px !important; }
.top-padding {
    padding-top: 20px !important;
}
.contest-conditions{
    counter-reset: step-counter;
}
.contest-conditions ol{
  list-style:none;
  margin:2em auto;
  padding:0;
}
.contest-conditions ol > li {
  counter-increment: step-counter;
  margin-bottom: 1.4em;
  padding-left:40px;
  padding-top:3px;
  position:relative;
}
.contest-conditions ol > li::before {
  content: counter(step-counter);
  display:inline-block;
  position:absolute;
  left:0;
  top:0;
  background-color: #532044;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  color: white;
  font-weight: bold;
  width:28px;
  height:28px;
  line-height:28px;
  text-align:center;
  border-radius: 50%;
}
.header-bar h1, .header-bar h2, .header-bar h3{
    color: #fff;
}
.header-bar.profile h1{ margin-top: 0; }
 .header-bar.secondary{
    padding:10px 0 10px 10px;
    margin-bottom:0;
 }
 .header-bar.contest-list{
    margin-bottom:0;
    padding:20px;
 }
.edit-form .header-bar.profile{ padding-bottom:5px;}
.edit-form .header-bar.profile h1{ margin-bottom: 0; }
 .profile-circle{
    width: 140px;
    height: 140px;
    overflow: hidden;
    text-align:center;
    border-radius: 50%;
    border: 2px solid #fdfdfd;
    background-color:#ddd;
}
.header-bar.profile .container {
    padding-left: 170px;
    position: relative;
}
.header-venue.profile .container{
    padding-left: 130px;
}
@media(max-width:470px){
    .header-bar.profile .container {
        padding-left: 15px;
        padding-top:15px;
        position: relative;
    }

    .header-bar.profile .profile-circle{
        margin-top: -110px;
            width: 100px;
    height: 100px;
    }
}
.profile-circle.small{
    width:90px;
    height:90px;
}
.profile-circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
.header-bar .profile-circle{
    position: absolute;
    left:10px;
    margin-top:-70px;
}
.header-venue .profile-circle{
    margin-top:-40px;
}
#search_results{
    position:relative;
    transition:0.5s;
}

.loading-spinner{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-20px;
    margin-left:-20px;
    display:none;
}
.loading-container{
    opacity:0.6;
}
.loading-container .loading-spinner{
    display:block;
}

.absolute-pos{
    position:absolute;
}
@media (min-width:992px){
    .edit-form .jumbo-band .jumbotron{
        height:350px;
    }
}


.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 14px;
    margin-left: 2px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-weight:bold;
}

.pagination a.card{
    background-color:#fff;
    color:#cc0000;
    font-size:23px;
    padding: 1px 20px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #cc0000;
    border-color: #cc0000;
    border-radius:4px;
}

.btn-facebook, .btn-twitter{
    padding-top:20px;
    padding-bottom:20px;
}
.btn.btn-twitter{ background-color: #00acee;}
.btn.btn-facebook{ background-color: #4b64a4;}


.lineup-line{
    width:100%;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    text-align:center;
}
.lineup-line span{
    line-height:0.9;
}
.lineup{
    margin:3em 0;
}
a.lineup-band{
    color:#8c0b3b;
    text-decoration:none;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4), -1px 2px 2px rgba(#f1fefb,0.3);
    transition: text-shadow 0.5s;
}

.lineup-line:nth-child(odd) a.lineup-band:nth-child(odd) {
    color:#f1fefb !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.lineup-line:nth-child(even) a.lineup-band:nth-child(even) {
    color:#f1fefb !important;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
a.lineup-band:hover{
    text-decoration:none;
    text-shadow: 2px 2px 18px rgba(0,0,0,0.8), -3px 0px 3px rgba(0,0,0,0.3);
}
.lineup-line:nth-child(odd) a.lineup-band:nth-child(odd):hover, .lineup-line:nth-child(even) a.lineup-band:nth-child(even):hover{
    text-shadow: 0 0 13px #fff, 0 0 18px #fff !important;
}

.jury_points{
    padding:20px;
    text-align:center;
    text-transform: uppercase;
    font-size:36px;
    line-height:55px;
}
.jury_points strong {
 font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
 font-size:0.4em; line-height:1em; background-color: #e765af; color:#fff; padding:0 10px;  margin-bottom:1em; position:relative; top:-10px;}
.jury_points span{
    font-size:2em;
    margin-top:-10px;
}

input[type=range].custom-range {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.05px 0;
  background: none;
    outline: none;
}
input[type=range].custom-range:focus {
  outline: none;
}
input[type=range].custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 23.9px;
  cursor: pointer;
  box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.38), 0px 0px 0px rgba(13, 13, 13, 0.38);
  background: #999999;
  border-radius: 25px;
  border: 0px solid #562425;
}
input[type=range].custom-range::-webkit-slider-thumb {
  box-shadow: 1.6px 1.6px 3.8px rgba(5, 0, 0, 0.76), 0px 0px 1.6px rgba(31, 0, 0, 0.76);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px;
  border-radius: 38px;
  background: #e765af;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.05px;
}
input[type=range].custom-range:focus::-webkit-slider-runnable-track {
  background: #bfbfbf;
}
input[type=range].custom-range::-moz-range-track {
  width: 100%;
  height: 23.9px;
  cursor: pointer;
  box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.38), 0px 0px 0px rgba(13, 13, 13, 0.38);
  background: #999999;
  border-radius: 25px;
  border: 0px solid #562425;
}
input[type=range].custom-range::-moz-range-thumb {
  box-shadow: 1.6px 1.6px 3.8px rgba(5, 0, 0, 0.76), 0px 0px 1.6px rgba(31, 0, 0, 0.76);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px;
  border-radius: 38px;
  background: #e765af;
  cursor: pointer;
}
input[type=range].custom-range::-ms-track {
  width: 100%;
  height: 23.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].custom-range::-ms-fill-lower {
  background: #737373;
  border: 0px solid #562425;
  border-radius: 50px;
  box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.38), 0px 0px 0px rgba(13, 13, 13, 0.38);
}
input[type=range].custom-range::-ms-fill-upper {
  background: #999999;
  border: 0px solid #562425;
  border-radius: 50px;
  box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.38), 0px 0px 0px rgba(13, 13, 13, 0.38);
}
input[type=range].custom-range::-ms-thumb {
  box-shadow: 1.6px 1.6px 3.8px rgba(5, 0, 0, 0.76), 0px 0px 1.6px rgba(31, 0, 0, 0.76);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 38px;
  width: 38px;
  border-radius: 38px;
  background: #e765af;
  cursor: pointer;
  height: 23.9px;
  z-index:20;
}
input[type=range].custom-range:focus::-ms-fill-lower {
  background: #999999;
}
input[type=range].custom-range:focus::-ms-fill-upper {
  background: #bfbfbf;
}

.jury-vote output {
  position: absolute;
  top:-48px;
  margin-left:4px;
  padding: .4em .5em;
  background: rgba(0,0,0,0.8);
  font-size:20px;
  border-radius:2px;
  left:20%;
  color: white;
}
.jury-vote .success{
    font-size:1.5em;
    position:absolute;
    top:30px;
    right:5px;
}

.card.timetable{
    max-width:100%;
}
@media (max-width: 768px){
    .card.timetable {
        padding-right:0;
    }
}
.tag-legend{
    font-size:0.9em;
}
.tag-point{
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:20px;
    border-radius:2px;
    margin-left:18px;
    margin-right:3px;
    margin-bottom:5px;
}