{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Escenarios{% endblock%}

{% block content %}
<div class="jumbo-header" style="background-image:url('{% static "img/venues-header.jpg" %}')" >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Escenarios</h1>
        <p class="description">Lorem ipsum dolor sit amet</p>
      </div>
    </div>
</div>
<div class="header-bar text-center">
</div>

<div class="container">
<div class="row">
    {% for venue in venues %}
    <div class="col-md-6 col-lg-4">
        <a class="card venue-card" href="{% url 'venue_detail' pk=venue.pk %}">
            <div class="venue-image" {% if venue.image %} style="background-image:url('{{venue.image.url}}')" {% endif %}></div>
            <span class="title">{{venue.name}}</span>
            <span class="address">{{venue.address}}</span>
        </a></div>
    {% endfor %}
</div>
</div>

<div class="header-bar text-center no-margin  double-sep">
    <h2>Mapa de escenarios</h2>
    Selecciona cada punto en el mapa para ver su información
</div>

<section id="map">
        <img src="{% static "img/drawn_map.jpg" %}" alt="Mapa">
        <div class="point" style="left:57%;top:43%;">1</div>
    <div class="point" style="left:63%;top:28%;">2</div>
    <div class="point" style="left:59%;top:23%;">3</div>
    <div class="point" style="left:54%;top:16%;">4</div>
    <div class="point" style="left:54%;top:52%;">5</div>
    <div class="point" style="left:46%;top:57%;">6</div>
    <div class="point" style="left:34%;top:73%;">7</div>
    <div class="point" style="left:25%;top:87%;">8</div>
    <div class="point" style="left:28%;top:59%;">9</div>
    <div class="point" style="left:26%;top:78%;">10</div>
    <div class="point" style="left:15%;top:83%;">11</div>

</section>
<div class="header-bar text-center no-margin">
</div>

{% endblock %}