{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2017 - La app{% endblock%}

{% block content %}

<div class="jumbo-header app" style="background-image:url('{% static "img/venues-header.jpg" %}')" >
    <div class="jumbotron">
      <div class="container app-info">
            <div class="row">
                <div class="col-sm-12 visible-xs-block text-center">
                    <p class="lead">Accede a toda la información actualizada de los conciertos de la Fiesta de la Música</p>
                    <p><a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.triskelapps.alcalasuena" target="_blank" role="button"><i class="fa left fa-android" aria-hidden="true"></i>Descarga en Google Play</a></p>

                </div>
                <div class="col-sm-4 col-md-5 text-center">
                    <img src="{% static "img/app_main.png" %}" class="img-responsive">
                </div>
                <div class="col-sm-8 col-md-7" style="padding-top:60px;max-width:510px;">
                    <p class="lead hidden-xs">Accede a toda la información actualizada de los conciertos de la Fiesta de la Música</p>
                    <p class="hidden-xs"><a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.triskelapps.alcalasuena" target="_blank" role="button"><i class="fa left fa-android" aria-hidden="true"></i>Descarga en Google Play</a></p>
                    <p class="lead">
                        <ul class="lead">
                        <li>Haz tu propia programación de conciertos y compártela con tus contactos</li>
                        <li>Guíate con el mapa para llegar a los escenarios</li>
                        <li>y muchas opciones más...</li>
                </ul>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="header-bar text-center">
</div>
<br class="hidden-xs hidden-sm">
<div class="container main card double-sep">
    <h4 class="heading">Capturas de pantalla</h4>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen01.jpg" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen02.jpg" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen03.jpg" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen04.jpg" %}" class="img-responsive" alt="Captura"></div>
    </div>

</div>
{% endblock %}