{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2017{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" style="background-image:url('{% static "img/band-bg.jpg" %}')">
        <div class="jumbotron">
          <div class="container text-center">
              <img class="img-responsive" src="{% static "img/fiesta_musica.png" %}">
                <a class="showmore" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">
    <a name="more"></a>
    <div class="container main card">

        <h3>¡Encuentra los conciertos que te interesan!</h3>
        <form method="post" action="{% url 'search' %}" class="form" id="searchForm">
           <div class="form-group col-sm-4 col-xs-12">
            <label class="sr-only" for="day">Fecha</label>
            <select class="form-control select2" id="day" name="day">
                <option value="">Cualquier día</option>
                <option value="2017-06-02">Viernes 2</option>
                <option value="2017-06-03">Sábado 3</option>
                <option value="2017-06-04">Domingo 4</option>
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="venue">Lugar</label>
            <select class="form-control select2" id="venue" name="venue">
                <option value="">Cualquier lugar</option>
                {% for venue in venues %}
                <option value="{{venue.pk}}">{{venue.name}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="tag">Estilo musical</label>
            <select class="form-control select2" id="tag" name="tag">
                <option value="">Cualquier estilo</option>
                 {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
          </div>
            <div class="text-center"><button id="viewall" class="btn btn-primary btn-lg">Ver todos</button> </div>
        </form>

    <div id="results">
        <h3 class="text-center">
            <i class="fa fa-search" aria-hidden="true"></i><br>
            Utiliza el buscador para filtrar los resultados
        </h3>

    </div> <!-- /container -->
         </div>
</section>
{% endblock %}