{% extends "base.html" %}

{% block title %}Alcalá Suena 2017{% endblock%}

{% block home_header %}
<header>
    <div class="row text-center">
        <img src="../static/img/logotipo.png" alt="Logotipo Alcalá Suena" class="logo" />
    </div>
    <div class="row text-center">
        <h1>III Fiesta de la Música de Alcalá de Henares</h1>
    </div>
</header>

<section class="banda_negra">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <a href="#" class="btn btn-default btn-descripcion">Descripción</a>
            </div>
            <div class="col-sm-6 text-center">
                <h2>Del 2 al 4 de Junio 2017</h2>
            </div>
            <div class="col-sm-3 text-center">
                <a href="http://www.facebook.com" class="rrss"><span class="fa fa-facebook"></span></a>
                <a href="http://www.twitter.com" class="rrss"><span class="fa fa-twitter"></span></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block search %}
<section class="home-content">
    <div class="container buscador">
        <form method="post" action="{% url 'search' %}" class="form" id="searchForm">
           <div class="form-group col-sm-3 col-xs-6">
            <label class="sr-only" for="day">Fecha</label>
            <select class="form-control select2" id="day" name="day">
                <option value="">Cualquier día</option>
                <option value="2017-06-02">Viernes 2</option>
                <option value="2017-06-03">Sábado 3</option>
                <option value="2017-06-04">Domingo 4</option>
            </select>
          </div>
           <div class="form-group  col-sm-3 col-xs-6">
            <label class="sr-only" for="venue">Lugar</label>
            <select class="form-control select2" id="venue" name="venue">
                <option value="">Cualquier lugar</option>
                {% for venue in venues %}
                <option value="{{venue.pk}}">{{venue.name}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-3 col-xs-6">
            <label class="sr-only" for="tag">Estilo musical</label>
            <select class="form-control select2" id="tag" name="tag">
                <option value="">Cualquier estilo</option>
                 {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-3 col-xs-6">
            <label class="sr-only" for="band">Bandas</label>
            <select class="form-control select2" id="band" name="band">
                <option value="">Cualquier banda</option>
                {% for band in bands %}
                <option value="{{band.pk}}">{{band.name}}</option>
                {% endfor %}
            </select>
          </div>

        </form>
    </div>
</section>
{% endblock %}

{% block content %}

<div class="container" id="resultados">
    <p class="text-center">Utiliza el buscador para filtrar los resultados</p>
</div> <!-- /container -->
{% endblock %}