{% block content %}
    {% for dia in days %}
   <h3>{{ dia.day }}</h3>
    <table class="table table-striped">
        <thead>
            <th>Hora</th>
            <th>Banda</th>
            <th>Lugar</th>
            <th>Género</th>
        </thead>
        <tbody>
            {% for event in dia.events %}
            <tr>
                <td>{{ event.time }}</td>
                <td><a href="{% url 'band_detail' pk=event.band.pk%}" class="banda">{{event.band.name}} </a></td>
                <td><a href="{% url 'venue_detail' pk=event.venue.pk%}" class="lugar">{{event.venue.name}}</a></td>
                <td><span class="{{ event.band.tag }}">{{event.band.name}}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% endfor %}


{% endblock %}