{% extends "base.html" %}
{% block bodyattrs %} class="visible-bar"{% endblock%}
{% block title %}Alcala Suena - Encuesta de satisfacción{% endblock%}
{% block extra_styles %}
<style>footer{ margin-top:0; } iframe{ width:100%; height:98vh; outline:none; margin:0; margin-bottom:-1em; line-height:1em; }</style>{% endblock %}
{% block content %}

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScCrpj2deSl9FY1ivqxPC9nPKNQX_LYahOUFeWt_8mvSdMH-g/viewform?embedded=true" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>

{% endblock %}