<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Alcala Suena 2017</title>
        <link href="../static/css/styles.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" data-offset-top="60" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Alcalá Suena</a>
            </div>
            <form action="" class="form form-inline">
               <div class="form-group">
                <label class="sr-only" for="day">Fecha</label>
                <select class="form-control" id="day" name="day">
                    <option value="">Cualquier día</option>
                    <option value="2017-06-02">Viernes 2</option>
                    <option value="2017-06-03">Sábado 3</option>
                    <option value="2017-06-04">Domingo 4</option>
                </select>
              </div>
               <div class="form-group">
                <label class="sr-only" for="venue">Lugar</label>
                <select class="form-control select2" id="venue" name="venue">
                    <option value="">Cualquier lugar</option>
                    <option value="Plaza Cervantes">Plaza Cervantes</option>
                    <option value="Plaza Santos Niños">Plaza Santos Niños</option>
                </select>
              </div>
               <div class="form-group">
                <label class="sr-only" for="tag">Estilo musical</label>
                <select class="form-control" id="tag" name="tag">
                    <option value="">Cualquier estilo</option>
                    <option value="Rock">Rock</option>
                    <option value="Samba">Samba</option>
                </select>
              </div>
               <div class="form-group">
                <label class="sr-only" for="band">Bandas</label>
                <select class="form-control select2" id="band" name="band">
                    <option value="">Cualquier banda</option>
                    <option value="Muertos y cobardes">Muertos y cobardes</option>
                    <option value="Plaza Santos Niños">Plaza Santos Niños</option>
                </select>
              </div>

            </form>
          </div>
        </nav>

        <div class="container" id="resultados">
            <h3>Viernes 2 </h3>
            <table class="table table-striped">
                <thead>
                    <th>Hora</th>
                    <th>Banda</th>
                    <th>Lugar</th>
                    <th>Género</th>
                </thead>
                <tbody>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td><span class="rock">Rock Zombie</span></td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                </tbody>
            </table>
          <hr>
            <h3>Sábado 3 </h3>
            <table class="table table-striped">
                <thead>
                    <th>Hora</th>
                    <th>Banda</th>
                    <th>Lugar</th>
                    <th>Género</th>
                </thead>
                <tbody>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td>Rock Zombie</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td>Rock Zombie</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td>Rock Zombie</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td>Rock Zombie</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td><a href="" class="banda">Muertos y cobardes</a></td>
                        <td><a href="" class="lugar">Plaza Cervantes</a></td>
                        <td>Rock Zombie</td>
                    </tr>
                    <tr>
                        <td>16:00</td>
                        <td><a href="" class="banda">Los destrozayunques</a></td>
                        <td><a href="" class="lugar">Plaza Santos Niños</a></td>
                        <td><span class="soul">Soul melódico</span></td>
                    </tr>
                </tbody>
            </table>
          <hr>
        </div> <!-- /container -->

        <div class="container-fluid">
            <footer>
                <p>&copy; Alcala Suena</p>
            </footer>
        </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/i18n/es.js"></script>
    <script type="text/javascript" src="../static/static/js/scripts.min.js"></script>
    </body>
</html>