body{ font-family: 'Raleway', sans-serif; padding-right: 0 !important }
header {
    background: url('../img/cabecera-home.jpg') no-repeat top center;
}

header .logo {
    padding: 60px;
}

header h1 {
    color: #fff;
    padding-bottom: 60px;
}

section.banda_negra {
    background-color: #000;
    padding: 20px;
}

.banda_negra h2 {
    color: #fff;
}

.btn-descripcion {
    margin-top: 20px;
    font-size: 18px;
    border-radius: 18px;
}

a.rrss {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    background-color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 30px;
    display: inline-block;
    border-radius: 20px;
}

.form-control {
    border: 2px solid #cc0000;
}

.band_header {
    background-image: url('../img/ficha-default-img.jpg');
    padding-top: 120px;
}

.jumbo-header{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.jumbo-header .jumbotron{
    background-color:rgba(0,0,0,0.4);
    color:#fff;
    text-shadow: 0 0 3px #111;
    font-size:0.9rem;
    margin-bottom:0;
    padding-top:100px;
    padding-bottom:60px;
}
.jumbo-header.jumbo-band{
    background-image: url('../img/band-header.jpg');
}
.jumbo-header.home .jumbotron{ background-color:transparent; }
.jumbo-header h1{ color:#e8e8e8 !important; font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
}

.jumbo-header .description{
    font-size:14px;
}

h3.eventsday{
    font-size:1.4rem;
    text-transform: uppercase;
    font-weight:bolder;
    color:#333;
    text-align:center;
}

.card{
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    transition: all 400ms;
    border-radius:2px;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 6px 5px 0 rgba(0,0,0,0.18), 0 3px 1px -2px rgba(0,0,0,0.2);
    text-decoration: none;
}
.card.main{
    transform:none;
    background-color:#fff;
    margin-top:-25px;
    position:relative;
    z-index:10;
    max-width:95%;
    padding: 3em 2em 1em 2em;
}


.band-event{
    padding:10px 5px 20px 5px;
    margin-bottom:1em;
    text-align:center;

    color:#222;
}
.band-event:hover{

    opacity:0.9;
    color:#eee;
}
.band-event .hour{
    display:block;
    margin:auto;
    font-size:1em;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
}
.band-event .band{
    display:block;
    margin:auto;
    padding:0 20px;
    font-size:1.3em;
}
.band-event .venue{
    font-size:0.95em;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    opacity:0.7;
}
body{
    background-color: #dadada;
    background-image: url('../img/main_bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:cover;
    background-attachment: fixed;
}

.header-bar{
    background-color: #c00812;
    color: #f1f1f1;
    padding: 25px 0;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    margin-bottom:3em;
}
.header-bar h2{ font-weight: 700; font-size:38px;}

footer{
    margin-top:3em;
    padding: 3em 0;
    background-color: #40474a;
    color:#f9f9f9;
}
.lead span{ font-size:0.9em; }
footer .img-responsive{ max-width:80%; margin:auto; }
.btn.btn-primary{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    background-color: #40474a;
    border-radius:2px;
    border:none;
    text-transform: uppercase;
    transition: all 500ms;
    font-family: 'Oswald';
}
.btn.btn-primary:hover{ background-color: #5e686d; }
.btn.btn-primary .fa.left{ margin-right:10px;}
.btn.btn-primary .fa.right{ margin-left:10px;}

.navbar{
    background: transparent;
    border:none;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase;
    transition: all 600ms;
}
.navbar.scrolled{ background-color: #211916; box-shadow: 0 3px 4px rgba(0,0,0,0.4); z-index:4000;}
.navbar-default .navbar-nav>li>a{ color:#fff; font-size:1.05em; transition: all 600ms; }
.navbar-default .navbar-nav>li>a:hover{ color:#9fd2eb; }
.navbar-default .navbar-nav>li.active>a{ background-color:#c00812; color:#fff; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border:none;}
.navbar-brand{ padding-top: 1px; }
.navbar-brand-text{ color:#fff; line-height:50px; height:50px;}
@media (max-width: 768px){
.nav.navbar-nav{ background-color: #211916; }
}
.heading{ font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center; margin:1.4em 0; font-size:1.4em; color:#777;}
.dossier{ text-aligm:center; color:#f9f9f9; background-color: #211916;   font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; text-transform:uppercase; text-align:center;}
.dossier:hover{ background-color: #c00812; color:#fff;}
.dossier p{ padding:5px 0; }
.venue-card{
    background-color:#e8e8e8;
    text-transform:uppercase;
    margin-bottom:1em;
    text-align:center;
    padding-bottom:16px;
}
a.venue-card:hover{
    background-color:#c00812;
}
.venue-image{
    height:180px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#ddd;
    margin-bottom:1em;
}
.venue-card .title{
    font-size:1.5em;
    display:block;
    color:#111;
    text-align:center;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.venue-card .address{
    color:#777;
    font-weight:bold;
}
.fab{
    position: absolute;
    right: 20px;
    margin-top: -50px;
    height: 70px;
    width: 70px;
    line-height:70px;
    background-color:#c00812;
    cursor:pointer;
    font-size:30px;
    border-radius:50%;
    color:#fff;
}
a.venue-card:hover .title, a.venue-card:hover .address{ color:#fff; }
.double-sep{ margin-top: 40px !important;}
.no-margin{ margin: 0; }
.insula img, .insula p{ display:inline-block; vertical-align:middle;}
.insula p{ text-align:left; padding-left:20px;}
.insula .btn{ margin-top:14px; }
.insula a{ color:#fff; font-weight:bold; }
#map{ position:relative; overflow:hidden;}
#map .container{ background-color:#f3f3f3; }
#map .map-container{ float:left;width:70%; }
#map .legend{ float:left; width:30%; }
#map  img{ width:100%; }
#map .point{ font-size:16px; text-spacing:-3px; font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif; position:absolute; width:30px; height:30px; background-color:#c00812; border-radius:50%; color:#fff; text-align:center; line-height:30px; font-weight:bold;}
#map .point::after{
    content:'';
    width:30px; height:30px;
    position:absolute;
    margin-left:-20px;
    border-radius:50%;
}
#map .point:hover{ cursor: pointer; opacity:0.9;}
#map .point:hover:after{
	border: 5px solid #c00812;
    -webkit-animation: pulsate 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
.modal, .modal-backdrop {
    position: absolute !important;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(1, 1); opacity: 0.3;}
    50% {opacity: 0.7;}
    100% {-webkit-transform: scale(1.8, 1.8); opacity: 0.0;}
}
@keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
@-webkit-keyframes pull-down {
    from {top: 0px;}
    to {top: 15px;}
}
.showmore{
    position: relative;
    font-size: 70px;
    color: #fff;
    -webkit-animation: pull-down 700ms infinite alternate;
    animation: pull-down 700ms infinite alternate;
    text-shadow: 0 3px 3px #c00812;
}
.showmore:hover{ color:#f1f1f1; }

.band-venue img, .band-venue p{ display:inline-block; vertical-align:middle; }
.band-venue p{ padding-left:20px; text-align:left;}

.venue-image.venue-icon{
    border-radius: 50%;
    margin:0;
    height: 70px;
    width:70px;
 }
.header-band .day{ font-size:3rem; display:block;}
.header-band .hour{ display:block;
    margin:auto;
    font-size:2.5rem;
    letter-spacing: 0.2em;
    opacity:0.7;
    color:#111;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    }

.social-links{
    margin: 2em 0;
}
.social-links a{
    border-radius:50%;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    font-size:30px;
    color:#fff;
    display:inline-block;
    background-color:  #c00812;
    margin-left:1rem;
}
#results{
    padding:4em 1em;
}
#results i.fa{
    font-size:60px;
    display:block;
    margin:auto;
    color:#aaa;
}

.modal-dialog.venue-card{
    top:50%;
    margin-top:-120px;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    border:none;
    background-color:transparent;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color:#fff;
}

.mosaicflow__column {
  float: left;
}
.mosaicflow__item{
	padding: 4px;
}
.mosaicflow__item a {
  display: block;
  border:5px solid #fff;
  box-shadow: 0 4px 14px rgba(0,0,0,0.4);
  transition: 700ms all;
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
}
.mosaicflow__item img{  width: 100%;
  height: auto; }
.mosaicflow__item a:hover{
	-webkit-transform: scale(1.04);
	box-shadow: 0 11px 24px rgba(0,0,0,0.5);
}
.mosaicflow__item a{
    position:relative;
    width:100%;
    overflow:hidden;
}
.mosaicflow__item a:before{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    z-index:200;
}
.band_link span{
    position:absolute;
    padding:0 10px;
    top:40%;
    text-align:center;
    margin-top:-20px;
    width:100%;
    display:block;
    left:0;
    z-index:2000;
    color: #e8e8e8 !important;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    font-size:1.15em;
}

.tag{
    padding: 5px 15px 5px 20px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
    margin-right:6px;
    margin-bottom:10px;
    position:relative;
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
}
.tag:before{ content:'·'; position:absolute; font-weight:bold; left:5px; color:#cecece; font-size:30px;font-family:serif; top:-5px;}

.filtered .tag{ opacity:0.4; }
.tag:hover{ opacity:1; cursor:pointer; }
.filtered .tag.active{ opacity:1; font-weight:bold;}

.band-profile-image{ margin-bottom: 1.5em; }

@media (max-width:768px){
    .header-band .col-sm-6:first-child{ margin-bottom:1em; }
     .header-band .col-sm-6:first-child:after{
        content:'';
        display:block;
        margin:auto;
        width:70px;
        padding-top:0.5em;
        border-bottom:2px solid #fff;
     }
}
