{% extends "base.html" %}
{% load staticfiles %}
{% load chunks %}
{% block title %}Alcalá Suena: Fiesta de la Música 2020{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" >
        <div class="jumbotron">
          <div class="container text-center">
              <h1>404</h1>
              <img class="img-responsive" style="max-width:55%;" src="{% static "img/logo2020.png" %}">
              <!--<a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container main card">

    <p class="lead">
        No sé ha podido encontrar la página que buscas... :(
    </p>
    <!-- /container -->
     </div>
</section>
{% endblock %}
