{% extends "base.html" %}
{% load static %}
{% load chunks %}
{% block title %}Alcalá Suena: Fiesta de la Música 2023{% endblock%}

{% block home_header %}
<div class="jumbo-header"  >
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Error en el servidor</h1>
        <p class="description">HTTP 500 :(</p>
      </div>
    </div>
</div>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container main card">

    <p class="lead">
        Se ha producido un error procesando tu solicitud. <br><br>
        Si estabas rellenando el formulario de inscripción, <strong>inténtalo otra vez</strong> subiendo archivos de menor tamaño
        y evitando incluir emojis en las descripciones y textos de tu banda.
    </p>
    <!-- /container -->
     </div>
</section>
{% endblock %}
