{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena 2019 - La app{% endblock%}

{% block bodyattrs %} class="{%if view %}{{view}}{%endif%} light-menu"{% endblock%}

{% block content %}

<div class="jumbo-header app jumbo-band" >
    <div class="jumbotron">
      <div class="container app-info">
            <div class="row">
                <div class="col-sm-12 visible-xs-block text-center">
                    <p class="lead">Accede a toda la información actualizada de los conciertos de la Fiesta de la Música</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.triskelapps.alcalasuena" target="_blank" role="button"><i class="fa left fa-android" aria-hidden="true"></i>Descarga en Google Play</a>
                        <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/es/app/Alcala-suena/id1458551516?l=es&ls=1&mt=8" target="_blank" role="button"><i class="fa left fa-apple" aria-hidden="true"></i>Descarga en App Store</a>
                    </p>

                </div>
                <div class="col-sm-4 col-md-5 text-center">
                    <img src="{% static "img/app_main.png" %}" class="img-responsive">
                </div>
                <div class="col-sm-8 col-md-7" style="padding-top:60px;max-width:510px;">
                    <p class="lead hidden-xs">Accede a toda la información actualizada de los conciertos de la Fiesta de la Música</p>
                    <p class="hidden-xs">
                        <a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.triskelapps.alcalasuena" target="_blank" role="button"><i class="fa left fa-android" aria-hidden="true"></i>Descarga en Google Play</a>
                        <a class="btn btn-primary btn-lg" href="https://itunes.apple.com/es/app/Alcala-suena/id1458551516?l=es&ls=1&mt=8" target="_blank" role="button"><i class="fa left fa-apple" aria-hidden="true"></i>Descarga en App Store</a>
                    </p>
                    <p class="lead">
                        <ul class="lead">
                        <li>Haz tu propia programación de conciertos y compártela con tus contactos</li>
                        <li>Guíate con el mapa para llegar a los escenarios</li>
                        <li>y muchas opciones más...</li>
                </ul>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="header-bar text-center">
</div>
<br class="hidden-xs hidden-sm">
<div class="container main card double-sep">
    <h4 class="heading">Capturas de pantalla</h4>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen01.png" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen02.png" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen03.png" %}" class="img-responsive" alt="Captura"></div>
        <div class="col-xs-6 col-sm-4 col-md-3"><img src="{% static "img/screen04.png" %}" class="img-responsive" alt="Captura"></div>
    </div>

    <div style="font-size:1.2em;">
    <br>
    <p>
    Qué podrás hacer con esta app en el festival:


</p>
<ul>
    <li><strong> Conoce toda la programación actualizada de conciertos en cada día</strong><br>
        despliega el panel lateral para filtrar por los estilos de música que mas te gustan.</li>
    <li><strong>¡Haz tu propia programación de conciertos!</strong><br>
    Pulsa en la estrella roja de cada uno para guardarlos como favoritos y cuando quieras ver sólo los tuyos, pulsa en la estrella blanca de la barra superior.
Podrás además mandarlos a tus amig@s por la app que elijas y ellos podrán añadir automáticamente tus favoritos a través de un link ;)
    </li>
    <li>
        En la sección de Mapa podrás ver geolocalizado cada escenario del festival y pulsando el marcador verás su descripción básica y en enlace para indicarte el camino. No te vayas a perder :P
    </li>
    <li>
        <strong> Noticias y avisos:</strong><br> Te llegarán notificaciones instantáneas con los avisos importantes desde la organización del festival. También podrás leer la noticia ampliada en el momento.

    </li>
    <li>Navega por el resto de secciones para tener toda la información de Bandas y Escenarios.</li>
</ul>
</div>
<br><br>
<p class=" text-center">
    El código de la app de Android (al igual que el de la aplicación web) está liberado como software libre en GitHub:<br><br>
    <a class="btn btn-primary" href="https://github.com/InsulaCoworking/AlcalaSuena-Android" target="_blank" role="button"><i class="fa left fa-github-alt" aria-hidden="true"></i> App AlcalaSuena en GitHub </a>


</p>
</div>
{% endblock %}