<!DOCTYPE html>
{% load static settings_value %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}AlcalaSuena{% endblock title%}</title>
        <meta name="description" content="Alcalá de Henares se convierte durante 3 días en un enorme festival de música: conciertos al aire libre, de cualquier género musical y en diversos escenarios distribuidos por todo el Casco Histórico"/>
        <meta name="google-site-verification" content="N7Xgc8GUS6zcXmex86G3kav1P0osE_GGLKnpcxYv2qI" />
        {% block social_meta %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@aemusica">
        <meta name="twitter:title" content="Alcalá Suena - Fiesta de la Música 2024">
        <meta name="twitter:description" content="Alcalá se convierte durante 3 días en un enorme festival de música: conciertos al aire libre, de cualquier género musical y en diversos escenarios distribuidos por todo el Casco Histórico de Alcalá, Patrimonio de la Humanidad">
        <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner2024.jpg" %}">

        <meta property="og:url" content="{{request.build_absolute_uri}}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Alcalá Suena - Fiesta de la Música 2024" />
        <meta property="og:description" content="Alcalá se convierte durante 3 días en un enorme festival de música: conciertos al aire libre, de cualquier género musical y en diversos escenarios distribuidos por todo el Casco Histórico de Alcalá, Patrimonio de la Humanidad" />
        <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static "img/logo_banner2024.jpg" %}" />
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Kodchasan:700|Oswald:400,600|Raleway&display=swap" rel="stylesheet">
        <link href="{% static "css/styles.css" %}?v=38" rel="stylesheet"/>
        {% block extra_styles %}{% endblock extra_styles %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#bb4e87">
        <meta name="msapplication-TileColor" content="#bb4e87">
        <meta name="theme-color" content="#bb4e87">

    </head>

    <body {% block bodyattrs %}{% endblock%}>
        <div class="body-bg"></div>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">

                  <img class="img-responsive" src="{% static "img/icon-logo.png" %}?v=4">
              </a>
                <span class="navbar-brand-text hidden-sm hidden-md hidden-lg"></span>
            </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li {% if request.resolver_match.url_name == "index" %}class="active"{% endif %}><a href="{% url 'index' %}">Inicio </a></li>

                  {% if CONTEST_ACTIVE %}
                      <li {% if request.resolver_match.url_name == "bases" %}class="active"{% endif %}><a href="{% url 'bases' %}">Bases del Concurso</a></li>
                      {% if not CONTEST_CLOSED and not CONTEST_OPENING %}
                      <li {% if request.resolver_match.url_name == "contest_signup" %}class="active"{% endif %}><a href="{% url 'contest_signup' %}">Inscripción</a></li>
                      {% endif %}
                  {% endif %}

                  {% if not CONTEST_ACTIVE and CONTEST_CLOSED %}
                      <li {% if request.resolver_match.url_name == "bands_list" %}class="active"{% endif %}><a href="{% url 'bands_list' %}">Bandas</a></li>
                      {% if SCHEDULE_ACTIVE %}
                          <li {% if request.resolver_match.url_name == "venues_list" %}class="active"{% endif %}><a href="{% url 'venues_list' %}">Escenarios</a></li>
                          <li {% if request.resolver_match.url_name == "timetables" %}class="active"{% endif %}><a href="{% url 'timetables' %}">Horarios</a></li>
                      {% endif %}
                      <li {% if request.resolver_match.url_name == "contest_index" %}class="active"{% endif %}><a href="{% url 'contest_index' %}">Concurso</a></li>
                  {% else %}
                      {% if not CONTEST_OPENING %}
                      <li {% if request.resolver_match.url_name == "contest_entries_list" %}class="active"{% endif %}><a href="{% url 'contest_entries_list' %}">Bandas</a></li>
                      {% endif %}
                  {% endif %}

                  {% if perms.contest.can_mange_jury %}
                         <li {% if request.resolver_match.url_name == "contest_jury_list" %}class="active"{% endif %}><a href="{% url 'contest_jury_list' %}">Jurado</a></li>
                    {% endif %}

                  {% if APP_VISIBLE %}
                      <li {% if request.resolver_match.url_name == "app_info" %}class="active"{% endif %}><a href="{% url 'app_info' %}">La App</a></li>
                  {% endif %}

                  {% if ARCHIVE_YEARS %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Otras ediciones <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                          {% for year in ARCHIVE_YEARS %}
                              <li><a href="{% url 'archive:index' year %}">{{year}}</a></li>
                          {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                  </ul>


                   <ul class="nav navbar-nav navbar-right">
                      {%if user.is_authenticated %}
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="{% url 'contest_user_votes' %}"><i class="fa fa-cog right-margin" aria-hidden="true" ></i> Mi voto</a></li>

                                  {% if user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}"><i class="fa fa-cog right-margin" aria-hidden="true" ></i> Django Admin</a></li>
                                    <li><a href="{% url 'exports_dashboard' %}"><i class="fa fa-download right-margin" aria-hidden="true" ></i> Exportar datos</a></li>
                                  {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'logout' %}?next=/"><i class="fa fa-power-off right-margin" aria-hidden="true" ></i> Salir</a></li>
                              </ul>
                        </li>
                      {% endif %}

                  </ul>

          </div>
        </nav>

        {% block home_header %}{% endblock home_header %}


        {% block content %}{% endblock content %}


        <img class="img-responsive double-sep" style="width:100%;max-width:100%;" src="{% static "img/skyline2024.png" %}?v=3">
        <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4"><img class="img-responsive" src="{% static "img/logo_alcalasuena.png" %}"></div>
            <div class="col-sm-4 col-md-4"><img class="img-responsive" src="{% static "img/logo_ayuntamiento.png" %}"></div>
            <div class="col-sm-offset-0 col-sm-4 col-md-4"><img class="img-responsive" src="{% static "img/logo_alcalaesmusica.png" %}"></div>
        </div>

        <!--
        <br><br>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 col-md-4 text-center">
                <img class="img-responsive" src="{% static "img/logo_sziget.png" %}?v=2">
            </div>
            <div class="col-sm-4 col-md-4"><img class="img-responsive" src="{% static "img/logo_gigante.png" %}"></div>
        </div>
        -->
        <div class="row double-sep insula">
            <div class="col-sm-5 text-center">
                <p>
                <strong>DIRECCIÓN</strong><br>
                Plaza de Cervantes 12<br>
                28801 Alcalá de Henares<br>
                Madrid<br>
                alcalasuena@ayto-alcaladehenares.es<br>
                <a href="tel:918883300">
                    <font color="white">Teléfono: 91 888 33 00 ext. 4371</font>
                </a>
                <br><br>
                </p>
            </div>
            <div class="col-sm-7 text-center">
                <a href="https://insulacoworking.es/" target="_blank"><img class="img-responsive hidden-sm hidden-xs" src="{% static "img/logo_insula.png" %}?v=2"></a>
                <p>Desarrollado por coworkers de la <a href="https://coworkingalcala.com/" target="_blank"> Ínsula Coworking </a><br>
                Código liberado bajo licencia GPL<br>
                    <a class="btn btn-primary" href="https://github.com/InsulaCoworking" target="_blank" role="button"><i class="fa left fa-github-alt" aria-hidden="true"></i> Ver repositorios en GitHub </a>
                </p>
            </div>

            <div class="col-sm-6">


            </div>

        </div>

    </div>
</footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}?v=23"></script>
    {% block scripts %}{% endblock scripts %}

    <!-- Old Universal Analytics (to remove after July 2024) -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{% settings_value 'GOOGLE_ANALYTICS_UA' %}', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value 'GOOGLE_ANALYTICS_TAG' %}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{% settings_value 'GOOGLE_ANALYTICS_TAG' %}');
    </script>
    </body>
</html>