<h2 class="text-center">¿Qué es Alcalá Suena?</h2>
<p class="">
    <span>
    Alcalá de Henares se llena de música en un proyecto creado por los artistas de la ciudad en el que se mezclan todo tipo de estilos, grupos profesionales y amateurs, noveles y cabezas de cartel en una producción con más de un centenar de personas implicadas: músicos, técnicos, profesionales y colaboradores voluntarios en la producción.
<br><br>
En pasadas ediciones, el casco histórico de la ciudad se llenó de actuaciones de música en directo y al aire libre, siendo el objetivo de este proyecto dar visibilidad y dinamizar el tejido musical local. A través de la convocatoria del concurso on line se obtienen, de una manera abierta y participativa, las propuestas que formarán parte de la programación del evento.
     </span>
</p>
<br>