{% extends "base.html" %}
{% load static %}
{% load chunks %}
{% block title %}Alcalá Suena: Fiesta de la Música 2024{% endblock%}
{% block extra_styles %}
<meta name="google-site-verification" content="IzNi0uNVMjNNPfbFNn8-DOfxR775nqSlxqzy3G9mA3g" />
{% endblock extra_styles %}

{% block home_header %}
    <div class="jumbo-header home" >
        <div class="jumbotron">
          <div class="container text-center hidden-md hidden-lg">
              <img class="img-responsive" style="max-width:85%;margin-top:5vw;margin-bottom:-20vw;z-index:100;" src="{% static "img/logo_title2024.png" %}?v=2">
              <img class="img-responsive" style="max-width:85%;z-index:-10;position:relative;margin-bottom:-50px;" src="{% static "img/logo2024.png" %}?v=2">
              <!--<a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
          </div>
            <div class="row  hidden-xs hidden-sm">
                <div class="col-md-6 text-center">
                    <img class="img-responsive" style="max-width:85%;margin-bottom:-50px;z-index:10;" src="{% static "img/logo2024.png" %}?v=2">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" style="max-width:95%;margin-left:-5vw;margin-top:5vw;margin-bottom:-10vw;z-index:100;" src="{% static "img/logo_title2024.png" %}?v=2">

                </div>

              <!--<a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin" style="z-index:-20;position:relative;">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

{% if not CONTEST_ACTIVE and CONTEST_CLOSED %}
<div class="container" style="margin-bottom:4em;">
    {% include "lineup/main.html"  %}
</div>
{% endif %}

    <div class="container main card">

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="lead "><span>
                    El casco histórico de Alcalá de Henares se volverá a llenar de música en directo para acoger a los más de 60 grupos premiados y finalistas del concurso ALCALÁ SUENA 2024. Cinco escenarios al aire libre y el Teatro Salón Cervantes acogerán la programación de esta edición.
                 </span></p>
            </div>
        </div>
            <!--
            <div class="col-sm-3 col-md-2"><a href="https://www.canva.com/design/DACUpX9urHM/0fEzcfON3oPVNcIgHZTKpQ/view?website" target="_blank" class="card dossier">
                <img src="{% static "img/As2.jpg" %}" alt="dossier" class="img-responsive">
                <p>
                    ver dossier
                </p>
            </a> </div>-->

        {% if APP_VISIBLE %}
        <div class="row double-sep">

            <div class="col-sm-6"><img src="{% static 'img/app_screens2024.png' %}" class="img-responsive"/></div>

            <div class="col-sm-6">
                <p class="lead">¿Quieres acceder a toda la información actualizada de los conciertos de la forma más cómoda en tu móvil?</p>
                <div class="text-center"><a class="btn btn-primary btn-lg red" href="{% url 'app_info' %}"> Descárgate la app de Alcalá Suena</a></div>
                <p class="lead">
                    Haz tu propia programación de conciertos, guíate para llegar a cada escenario, y muchas opciones más... <br><br>
                    También puedes buscar los conciertos que más te interesen desde nuestro buscador en la web</p>
            </div>
        </div>

<div class="row">
        <div class="col-sm-12"><hr></div>


        <div class="col-sm-6 text-center">

        <h2> Horarios</h2>
            <p class="lead"> <span>Puedes consultar el cuadrante de conciertos de cada día para ayudarte a planificar mejor tu festival y tener de un vistazo todos los conciertos de cada día con sus solapes, ordenados por cada escenario. </span></p>
            <p class="lead">Próximamente añadiremos más mejoras!</p>
            <a href="{% url 'timetables' %}" class="btn btn-primary btn-lg">Ver horarios</a><br>

        </div>

    <div class="col-sm-6 text-center">
            <img class="img-responsive" src="{% static "img/timetable.png" %}?v=2024">
        </div>
</div>

        <br><br>

        <a name="main-search" id="main-search"></a>
        <h3 class="heading double-sep">¡Encuentra los conciertos que te interesan!</h3>
        <form method="post" action="{% url 'search' %}" class="form" id="searchForm">
           <div class="form-group col-sm-4 col-xs-12">
            <label class="sr-only" for="day">Fecha</label>
            <select class="form-control select2" id="day" name="day">
                <option value="">Cualquier día</option>
                {% for day in days %}
                <option value="{{day|date:"Y-m-d"}}">{{ day|date:"l" }}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="venue">Lugar</label>
            <select class="form-control select2" id="venue" name="venue">
                <option value="">Cualquier lugar</option>
                {% for venue in venues %}
                <option value="{{venue.pk}}">{{venue.name}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="tag">Estilo musical</label>
            <select class="form-control select2" id="tag" name="tag">
                <option value="">Cualquier estilo</option>
                 {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
          </div>
            <div class="text-center"><button id="filter" class="btn btn-primary btn-lg red">Filtrar</button> <button id="viewall" class="btn btn-primary btn-lg">Ver todos</button> </div>
        </form>

    <div id="results">
        <h3 class="text-center">
            <i class="fa fa-search" aria-hidden="true"></i><br>
            Utiliza el buscador para filtrar los resultados
        </h3>

    </div>
        {% endif %}

<div class="row">
        <!--- CONCURSO --->
        {% if CONTEST_ACTIVE and not CONTEST_CLOSED %}
            <div class="col-sm-12 text-center">
                <h2>¿Tienes una banda?</h2>
                <p class="lead "><span>
                ¿Quieres tocar en <strong>Alcalá Suena 2024</strong>?<br>
                Hasta el 23 de febrero a las 20h estará abierto el plazo de inscripción de bandas para formar parte del cartel, con diferentes premios en metálico para todas las bandas seleccionadas.
                    </span></p>
                {% if not CONTEST_OPENING %} <a href="{% url 'contest_signup' %}" class="btn btn-primary btn-lg">Inscríbete!</a> {% endif %}
            </div>
        {% else %}

            <div class="col-sm-12"><hr></div>

            <div class="col-sm-6 text-center">
                <img class="img-responsive" src="{% static "img/contest.png" %}?v=2024">
            </div>
            <div class="col-sm-6 text-center">

            <h2> CONCURSO</h2>
                {% if CONTEST_ACTIVE %}
                    <p class="lead"> <span>Desde el 25 de enero y hasta el 23 de febrero ha estado abierto el plazo de inscripción en el que todas las bandas que quisieran podían inscribirse y participar en Alcalá Suena para su posterior elección por el jurado. </span></p>
                    Próximamente se dará a conocer el fallo del jurado!<br><br>
                    <a href="{% url 'contest_index' %}" class="btn btn-primary btn-lg">Más información</a><br>
                {% else %}
                    {% if not CONTEST_CLOSED %}
                    <p class="lead"> <span>Desde el 2 de febrero hasta las 20h del 23 de febrero estará abierto el plazo de inscripción de bandas para formar parte del cartel, con diferentes premios en metálico para todas las bandas seleccionadas. </span></p>
                    <a href="{% url 'bases' %}" class="btn btn-primary btn-lg">Bases del concurso</a><br>
                    {% else %}
                        <p class="lead"> <span>Las bandas del cartel de Alcalá Suena se eligieron en un concurso abierto en el que podían inscribirse para su posterior elección por un jurado, con el público pudiendo seleccionar las bandas que más le gustaban. </span></p>
                    <a href="{% url 'contest_index' %}" class="btn btn-primary btn-lg">Más información</a><br>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}

        {% if CONTEST_ACTIVE and not CONTEST_OPENING and PUBLIC_VOTE %}
        </div>
        <div class="row">
        <div class="col-sm-6 text-center double-sep">
                <img class="img-responsive" src="{% static "img/vota.png" %}?v=2024">
            </div>
            <div class="col-sm-6 double-sep">
                        <h2> DA "LIKE" A TUS GRUPOS FAVORITOS</h2>
                <p class="lead"> <span>Ayuda al jurado dando "like" a tus grupos favoritos de nuestra lista de bandas. Tienes hasta 10 likes para repartir en las más de 500 propuestas musicales que participan en el concurso</span></p>
                <a href="{% url 'contest_entries_list' %}" class="btn btn-primary btn-lg">Ver bandas</a>
                <a href="{% url 'contest_social_login' %}" class="btn btn-primary btn-lg red">Regístrate</a>
            </div>

    <div class="double-sep"></div>
        {% endif %}

            <div class="col-sm-12">
            <hr>

        <!-- INFO GENERAL -->
            <div class="col-sm-12">
                {% include "general_info.html"  %}
            </div>
        </div>
    <!-- /container -->
         </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{% include "lineup/js_code.html"  %}
{% endblock %}