{% extends "base.html" %}
{% load staticfiles %}
{% load chunks %}
{% block title %}Alcalá Suena: Fiesta de la Música 2022{% endblock%}

{% block home_header %}
    <div class="jumbo-header home" >
        <div class="jumbotron">
          <div class="container text-center">
              <img class="img-responsive" style="max-width:85%;" src="{% static "img/logo2022.png" %}?v=2">
              <!--<a class="showmore smoothscroll" href="#more"><i class="fa fa-angle-down" aria-hidden="true"></i></a>-->
          </div>
        </div>
    </div>

<a name="more" id="more"></a>
<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

{% if CONTEST_CLOSED %}
<div class="container" style="margin-bottom:4em;">
    {% include "lineup/main.html"  %}
</div>
{% endif %}

    <div class="container main card">

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="lead "><span>
                    Alcalá de Henares continúa apoyando la cultura y por ello se pone en marcha el concurso on line para seleccionar a las bandas que formarán parte del cartel de la séptima edición del Festival Alcalá Suena. En función de la evolución de la situación sanitaria provocada por la pandemia del COVID 19 se determinará la modalidad y el diseño final del evento que tendrá lugar durante el primer fin de semana de junio, con música para todos los gustos y en diferentes localizaciones de la ciudad. Toda la información actualizada aquí.

                                 </span></p>
            </div>

            <!--
            <div class="col-sm-3 col-md-2"><a href="https://www.canva.com/design/DACUpX9urHM/0fEzcfON3oPVNcIgHZTKpQ/view?website" target="_blank" class="card dossier">
                <img src="{% static "img/As2.jpg" %}" alt="dossier" class="img-responsive">
                <p>
                    ver dossier
                </p>
            </a> </div>-->

        </div>

        {% if APP_VISIBLE %}
        <div class="row double-sep">

            <div class="col-sm-6"><img src="{% static "img/app_screens2022.png" %}" class="img-responsive"></div>

            <div class="col-sm-6">
                <p class="lead">¿Quieres acceder a toda la información actualizada de los conciertos de la forma más cómoda en tu móvil?</p>
                <div class="text-center"><a class="btn btn-primary btn-lg red" href="{% url 'app_info' %}"> Descárgate la app de Alcalá Suena</a></div>
                <p class="lead">
                    Haz tu propia programación de conciertos, guíate para llegar a cada escenario, y muchas opciones más... <br><br>
                    También puedes buscar los conciertos que más te interesen desde nuestro buscador en la web</p>
            </div>
        </div>

<div class="row">
        <div class="col-sm-12"><hr></div>


        <div class="col-sm-6 text-center">

        <h2> Horarios</h2>
            <p class="lead"> <span>Puedes consultar el cuadrante de conciertos de cada día para ayudarte a planificar mejor tu festival y tener de un vistazo todos los conciertos de cada día con sus solapes, ordenados por cada escenario. </span></p>
            <p class="lead">Próximamente añadiremos más mejoras!</p>
            <a href="{% url 'timetables' %}" class="btn btn-primary btn-lg">Ver horarios</a><br>

        </div>

    <div class="col-sm-6 text-center">
            <img class="img-responsive" src="{% static "img/timetable.png" %}?v=2022">
        </div>
</div>

        <br><br>

        <a name="main-search" id="main-search"></a>
        <h3 class="heading double-sep">¡Encuentra los conciertos que te interesan!</h3>
        <form method="post" action="{% url 'search' %}" class="form" id="searchForm">
           <div class="form-group col-sm-4 col-xs-12">
            <label class="sr-only" for="day">Fecha</label>
            <select class="form-control select2" id="day" name="day">
                <option value="">Cualquier día</option>
                {% for day in days %}
                <option value="{{day|date:"Y-m-d"}}">{{ day|date:"l" }}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="venue">Lugar</label>
            <select class="form-control select2" id="venue" name="venue">
                <option value="">Cualquier lugar</option>
                {% for venue in venues %}
                <option value="{{venue.pk}}">{{venue.name}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="form-group  col-sm-4 col-xs-12">
            <label class="sr-only" for="tag">Estilo musical</label>
            <select class="form-control select2" id="tag" name="tag">
                <option value="">Cualquier estilo</option>
                 {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.name}}</option>
                {% endfor %}
            </select>
          </div>
            <div class="text-center"><button id="filter" class="btn btn-primary btn-lg red">Filtrar</button> <button id="viewall" class="btn btn-primary btn-lg">Ver todos</button> </div>
        </form>

    <div id="results">
        <h3 class="text-center">
            <i class="fa fa-search" aria-hidden="true"></i><br>
            Utiliza el buscador para filtrar los resultados
        </h3>

    </div>
        {% endif %}


        <!--- CONCURSO --->
        {% if CONTEST_ACTIVE and not CONTEST_CLOSED %}
            <div class="col-sm-12 text-center">
                <h2>¿Tienes una banda?</h2>
                <p class="lead "><span>
                ¿Quieres tocar en <strong>Alcalá Suena 2022</strong>?<br>
                Desde el 21 de febrero hasta el 15 de abril estará abierto el plazo de inscripción de bandas para formar parte del cartel, con diferentes premios en metálico para todas las bandas seleccionadas.
                    </span></p>
                <a href="{% url 'contest_signup' %}" class="btn btn-primary btn-lg">Inscríbete!</a>
            </div>
        {% else %}

            <div class="col-sm-12"><hr></div>

            <div class="col-sm-6 text-center">
                <img class="img-responsive" src="{% static "img/contest.png" %}?v=2022">
            </div>
            <div class="col-sm-6 text-center">

            <h2> CONCURSO</h2>
                {% if CONTEST_ACTIVE %}
                    <p class="lead"> <span>Durante los meses de febrero y marzo se ha realizado un concurso abierto en el que todas las bandas que quisieran podían inscribirse y participar en Alcalá Suena para su posterior elección por el jurado. </span></p>
                    Próximamente se dará a conocer el fallo del jurado!<br><br>
                    <a href="{% url 'contest_index' %}" class="btn btn-primary btn-lg">Más información</a><br>
                {% else %}
                    <p class="lead"> <span>Desde el 21 de febrero hasta las 20h del 15 de marzo estará abierto el plazo de inscripción de bandas para formar parte del cartel, con diferentes premios en metálico para todas las bandas seleccionadas. </span></p>

                    <a href="{% url 'bases' %}" class="btn btn-primary btn-lg">Bases del concurso</a><br>
                {% endif %}
            </div>
            {% endif %}

            <div class="col-sm-12">
            <hr>

        <!-- INFO GENERAL -->
            <div class="col-sm-12">
                {% include "general_info.html"  %}
            </div>

    <!-- /container -->
         </div>
</section>
{% endblock %}

{% block scripts %}
{% include "lineup/js_code.html"  %}
{% endblock %}