{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena: Fiesta de la Música 2019{% endblock%}
{% load chunks %}

{% block home_header %}
    <div class="jumbo-header home" >
        <div class="jumbotron">
          <div class="container text-center">
              <img class="img-responsive" src="{% static "img/logo2019.png" %}">

          </div>
        </div>
    </div>

<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container">
    <div class="lineup" style="max-width:700px;margin:auto;margin-top:30px;">
                {% for line in lineup_first|chunks:1 %}
                    <div class="lineup-line">
                        <span>{% for band in line %} <a href="{% url 'band_detail' pk=band.pk %}" class="lineup-band"> {{band.name}} </a> {% if not forloop.last %} · {% endif %}{% endfor %}</span>
                    </div>
                {% endfor %}

                  {% for line in lineup_second|chunks:2 %}
                    <div class="lineup-line">
                        <span>{% for band in line %} <a href="{% url 'band_detail' pk=band.pk %}" class="lineup-band"> {{band.name}} </a> {% if not forloop.last %} · {% endif %}{% endfor %}</span>
                    </div>
                {% endfor %}

                  {% for line in lineup_third|chunks:3 %}
                    <div class="lineup-line">
                        <span>{% for band in line %} <a href="{% url 'band_detail' pk=band.pk %}" class="lineup-band"> {{band.name}} </a> {% if not forloop.last %} · {% endif %}{% endfor %}</span>
                    </div>
                {% endfor %}

                {% for line in lineup_fourth|chunks:4 %}
                    <div class="lineup-line">
                        <span>{% for band in line %} <a href="{% url 'band_detail' pk=band.pk %}" class="lineup-band"> {{band.name}} </a> {% if not forloop.last %} · {% endif %}{% endfor %}</span>
                    </div>
                {% endfor %}
            </div>
</div>


</section>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/jquery.textfill.min.js" %}"></script>
<script type="text/javascript">
    $('.lineup-line').each(function(i,elem){
    $(elem).textfill({widthOnly:true, maxFontPixels:120});
});

</script>
{% endblock %}