{% extends "base.html" %}
{% load static %}
{% block title %}Alcalá Suena: Fiesta de la Música 2023{% endblock%}
{% load chunks %}

{% block home_header %}
    <div class="jumbo-header home" >
        <div class="jumbotron">
          <div class="container text-center">
              <img class="img-responsive" src="{% static "img/logo2023.png" %}">

          </div>
        </div>
    </div>

<section class="header-bar no-margin">
</section>
{% endblock %}

{% block content %}
<section class="home-content">

    <div class="container">
        {% include "lineup/main.html"  %}
    </div>


</section>
{% endblock %}

{% block scripts %}
{% include "lineup/js_code.html"  %}
{% endblock %}