{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Alcalá Suena: Fiesta de la Música 2022{% endblock%}
{% load chunks %}


{% block content %}
<section class="home-content">

    <div class="container card lead contest-conditions main" style="margin-top:8em;padding-bottom:5em;">
         <img class="img-responsive" style="margin-bottom:2em;" src="{% static "img/tu.png" %}?v=2">

       Las respuestas están en ti mismo. O si no es en ti mismo, en alguien que se llama como tú. Espera, se llama como tú o es que le llamamos así por equivocación? <br>
Al final las respuestas siempre están en la Otredad.
        </div>


</section>
{% endblock %}

{% block scripts %}
{% include "lineup/js_code.html"  %}
{% endblock %}