{% block content %}
{% if no_results %}
<div class="no-results">
    <h3 class="text-center">
            <i class="fa fa-refresh" aria-hidden="true"></i><br>
             Ouch, no hay resultados que satisfagan tus criterios de búsqueda.<br>
            Prueba a realizar una nueva búsqueda
        </h3>

</div>

{% else %}
<div class="row">
    {% for dia in days %}
    {%if num_days == 1 %}<div class="col-md-12"> {%endif%}
    {%if num_days == 2 %}<div class="col-md-6"> {%endif%}
    {%if num_days == 3 %}<div class="col-md-4"> {%endif%}
    <h3 class="eventsday">{{ dia.day }}</h3>

            {% for event in dia.events %}
            <a class="card band-event" href="{% url 'band_detail' pk=event.band.pk %}" style="background-color:{{event.band.tag.color}}">
                <span class="hour">{{event.time}}</span>
                <span class="band">{{event.band.name}}</span>
                <span class="venue">{{event.venue.name}}</span>
            </a>
            {% endfor %}

    <hr>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}