{% extends 'email/base.html' %}
{% load settings_value %}

{% block title %}Registro completo{% endblock title %}

{% block main_info %}
	<span style="font-size: 22px; color: #000000;">Hola {{name}},</span><br/>
	<span style="color: #5d1b4e;">Tu inscripción para el concurso de Alcalá Suena 2022<br/>ha quedado correctamente registrada. ¡Mucha suerte!</span></span>
{% endblock main_info %}

{% block pre_info %}
Puedes ver el perfil público de tu banda en el siguiente enlace:
{% endblock pre_info %}

{% block action %}
    {% url 'contest_band_detail' id as link %}
    {% settings_value 'BASESITE_URL' as basesite %}

    {% include 'email/button.html' with link_text='VER MI PERFIL' link_href=basesite|add:link %}
{% endblock action %}

{% block bottom_info %}
Este email es únicamente informativo. No tienes que hacer nada más.
{% endblock bottom_info %}
